@font-face {
    font-family: "facile_sansregular";
    src: url("fonts/facile_sans-webfont.woff") format("woff"),
    url("/fonts/facile_sans-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "MARKPRO-BOLD";
    src: url("fonts/MARKPRO-BOLD.woff") format("woff"),
    url("/fonts/MARKPRO-BOLD.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "BAHNSCHRIFT";
    src: url("fonts/BAHNSCHRIFT.woff") format("woff"),
    url("/fonts/BAHNSCHRIFT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "AssassinNinja";
    src: url("fonts/AssassinNinja.woff") format("woff"),
    url("/fonts/AssassinNinja.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "FUTURA";
    src: url("fonts/FUTURA.woff") format("woff"),
    url("/fonts/FUTURA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Domine-Regular";
    src: url("fonts/Domine-Regular.woff") format("woff"),
    url("/fonts/Domine-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Domine-Bold";
    src: url("fonts/Domine-Bold.woff") format("woff"),
    url("/fonts/Domine-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

.error h1{
    font-family: "MARKPRO-BOLD";
    font-weight: bold;
    font-style: normal;
    color: maroon;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 50px;
}

p{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-decoration : none;
    color: black;
}
.buglist {
  font-size: large;
  padding: 25px;
}
.buglist h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  font-family: "MARKPRO-BOLD";
}
.buglist ul li
{
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  list-style:disc;
}
.buglist li {
  margin-top: 20px;
}

.head2-w-sub {
  font-family: "MARKPRO-BOLD";
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  text-align: center;
  font-size: 30px;
  padding: 15px;
}
.head2-w-sub h3 {
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-size: 20px;
  padding: 5px;
}