@font-face {
    font-family: "facile_sansregular";
    src: url("fonts/facile_sans-webfont.woff") format("woff"),
    url("/fonts/facile_sans-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "MARKPRO-BOLD";
    src: url("fonts/MARKPRO-BOLD.woff") format("woff"),
    url("/fonts/MARKPRO-BOLD.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "BAHNSCHRIFT";
    src: url("fonts/BAHNSCHRIFT.woff") format("woff"),
    url("/fonts/BAHNSCHRIFT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "AssassinNinja";
    src: url("fonts/AssassinNinja.woff") format("woff"),
    url("/fonts/AssassinNinja.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "FUTURA";
    src: url("fonts/FUTURA.woff") format("woff"),
    url("/fonts/FUTURA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Domine-Regular";
    src: url("fonts/Domine-Regular.woff") format("woff"),
    url("/fonts/Domine-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Domine-Bold";
    src: url("fonts/Domine-Bold.woff") format("woff"),
    url("/fonts/Domine-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "ebrima";
    src: url("fonts/ebrima.woff") format("woff"),
    url("/fonts/ebrima.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ebrimabd";
    src: url("fonts/ebrimabd.woff") format("woff"),
    url("/fonts/ebrimabd.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "MONT-EXTRALIGHTDEMO";
    src: url("fonts/MONT-EXTRALIGHTDEMO.woff") format("woff"),
    url("/fonts/MONT-EXTRALIGHTDEMO.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
  }
  @font-face {
    font-family: "MONT-HEAVYDEMO";
    src: url("fonts/MONT-HEAVYDEMO.woff") format("woff"),
    url("/fonts/MONT-HEAVYDEMO.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "THEBOLDFONT";
    src: url("fonts/THEBOLDFONT.woff") format("woff"),
    url("/fonts/THEBOLDFONT.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "BEBASNEUE";
    src: url("fonts/BEBASNEUE.woff") format("woff"),
    url("/fonts/BEBASNEUE.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "VINYL";
    src: url("fonts/VINYL.woff") format("woff"),
    url("/fonts/VINYL.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "SocialShapes";
    src: url("fonts/SocialShapes.woff") format("woff"),
    url("/fonts/SocialShapes.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

.error h1{
    font-family: "MARKPRO-BOLD";
    font-weight: bold;
    font-style: normal;
    color: maroon;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 50px;
}

p{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-decoration : none;
}
.buglist {
  font-size: large;
  padding: 25px;
}
.buglist h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  font-family: "MARKPRO-BOLD";
}
.buglist ul li
{
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  list-style:disc;
}
.buglist li {
  margin-top: 20px;
}
.head-w-sub-dark {
  font-family: "MARKPRO-BOLD";
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 10px rgb(233, 233, 233), -1px -1px 10px rgb(233, 233, 233);
  text-align: center;
  font-size: 20px;
  padding: 15px;
}
.head-w-sub-dark h1{
  text-decoration: underline;
}
.head-w-sub-dark h2 {
  font-family: "MARKPRO-BOLD";
  font-size: 20px;
  padding: 5px;
}
.head-w-sub-dark h3 {
  font-family: "MARKPRO-BOLD";
  font-size: 20px;
  padding: 5px;
}
.head2-w-sub {
  font-family: "MARKPRO-BOLD";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-size: 30px;
  padding: 15px;
}
.head2-w-sub h2 {
  font-family: "MARKPRO-BOLD";
  font-weight: normal;
  font-size: 25px;
  padding: 5px;
}
.head2-w-sub h3 {
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-size: 20px;
  padding: 5px;
}
.center-head-body {
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
}
.center-head {
  font-size: 30px;
  font-family: "MARKPRO-BOLD";
}
.center-body p{
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 10px;
  color: var(--color-primary);
}
.center-body p a{
  color: var(--link-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: none;
}
.center-body p a:hover{
  color: var(--link-secondary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: underline;
}
.heading-general p a{
  color: var(--link-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: none;
}
.heading-general p a:hover{
  color: var(--link-secondary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: underline;
}

.heading-general {
  font-size: 30px;
  padding: 20px;
  font-family: "MARKPRO-BOLD";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
}

.heading-general h1 {
  font-size: 35px;
  padding: 10px;
  font-family: "MARKPRO-BOLD";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
}
.heading-general p {
  font-size: 20px;
  padding: 5px;
  font-family: "BAHNSCHRIFT";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
}
.head2-w-sub a{
  color: var(--link-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: none;
}
.head2-w-sub a:hover{
  color: var(--link-secondary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: underline;
}