/*/ -- Custom Scrollbar -- /*/
/* width */
::-webkit-scrollbar {
    width: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  html {
    scroll-behavior: smooth;
  }

/*/ General Settings /*/
#welcome {
  padding: 25px 10px;
  max-width: auto;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
  font-family: "MARKPRO-BOLD";
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  text-align: center;
}
  /*/ Footer /*/

  .footer {
    background-color: black;
    width: 100%;
  }
  .footer-container {
    text-align: center;
    display: flex;
    width: 100%;
  }
  .foot-socials {
    float: left;
  }

.foot-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .foot-text a p{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
      color: white;
      text-align: center;
  }

@media only screen and (min-width:888px) {
  .footer {
    margin-bottom: auto;
    height: 75px;
  }
  .footer-container {
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
  }
  .foot-socials {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    display: block;
    width: fit-content;
  }

.foot-text {
  height: 75px;
  width: fit-content;
}

 .foot-text a p{
      font-size: 20px;
  }

  /* Social Icons */
  #bi {
    padding: 10px 10px;
    font-size: 30px;
    width: 30px;
  }
}
@media only screen and (max-width:887px) {
  .footer {
    margin-bottom: auto;
    height: fit-content;
  }
  .footer-container {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: auto 25px;
  }
  .foot-socials {
    padding: 10px 10px;
    height: 50px;
    display: block;
    width: fit-content;
  }

.foot-text {
  height: 70px;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
}

 .foot-text a p{
      font-size: 15px;
  }

  /* Social Icons */
  #bi {
    padding: 5px 5px;
    font-size: 25px;
    height: 25px;
    width: 25px;
  }
}

  /* Social Icons */
#bi {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.bi-youtube {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-twitter {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-instagram {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-spotify {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-discord {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-twitch {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}


.bi-youtube:hover {
  background: #FF0000;
  color: white;
}
.bi-twitter:hover {
  background: #00acee;
  color: white;
}
.bi-instagram:hover {
  background: #C13584;
  color: white;
}
.bi-spotify:hover {
  background: #1DB954;
  color: white;
}
.bi-discord:hover {
  background: #7289DA;
  color: white;
}
.bi-twitch:hover {
  background: #6441a5;
  color: white;
}


  @font-face {
    font-family: "facile_sansregular";
    src: url("fonts/facile_sans-webfont.woff") format("woff"),
    url("/fonts/facile_sans-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

  }
  @font-face {
    font-family: "MARKPRO-BOLD";
    src: url("fonts/MARKPRO-BOLD.woff") format("woff"),
    url("/fonts/MARKPRO-BOLD.woff") format("woff");
    font-weight: bold;
    font-style: normal;

  }

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  width: 100%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Divider */

hr {
    width:100%;
    border: 1px solid #202020;
    background-color: #202020;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.long-div {
  width:100%;
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  box-shadow: 1px 1px 1px 1px snow;
}

.short-div {
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 1px 1px 1px 1px snow;
}
.shorter-div {
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 1px 1px 1px 1px snow;
}

/*/ About Page /*/
.about-body {
  background-color: #797979;
}

.textimg-article-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
.timg-article-head {
  font-family: "MARKPRO-BOLD";
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
}
#article {
  margin: 15px;
}

.article-child p {
    color: white;
    text-shadow: 1px 1px 10px black;
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-size: 20px;
}
.article-child p a{
  color: rgb(169, 192, 255);
  text-shadow: 1px 1px 10px black;
  text-decoration: none;
}
.article-child p a:hover{
  color: rgb(84, 161, 212);
  text-shadow: 1px 1px 10px black;
  text-decoration: underline;
}
.article-child p a{
  color: rgb(169, 192, 255);
  text-shadow: 1px 1px 10px black;
  text-decoration: none;
}
.article-child p a:hover{
  color: rgb(84, 161, 212);
  text-shadow: 1px 1px 10px black;
  text-decoration: underline;
}
.aimg-sub{
  font-weight: normal;
  font-family: "BAHNSCHRIFT";
  text-decoration: none;
  font-style: italic;
  font-size: 17px;
  color: rgb(221, 221, 221);
}
h3.aimg-sub a{
  text-decoration: none;
  font-style: italic;
  color: rgb(221, 221, 221);
}
h3.aimg-sub a:hover{
  text-decoration: underline;
  font-style: italic;
  color: rgb(204, 204, 204);
}
/*/ normal width /*/
@media only screen and (min-width: 888px){
  .textimg-article-container {
    justify-content: center;
    align-items: center;
  }

  .article-child {
    margin-right: 25px;
    width: 444px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .article-child img {
      width: 440px;
  }
  .aimg-sub {
      width: 440px;
  }
}

  /*/ mobile width /*/
@media only screen and (max-width: 887px){
  .textimg-article-container {
        justify-content: center;
        align-items: center;
      }
      .article-child {
        width: 442px;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
      }
      .article-child img {
          width: 220px;
      }
      .aimg-sub {
          width: 220px;
      }
  }
  
/*/ Donate Page /*/

.donate-body {
  background-color: #797979;
}

#donate-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#donate-element h1{
  width: 75%;
}
#donate-element h2{
  width: 75%;
}
#donate-element h3{
  width: 85%;
}

.donate-button a {
  margin: 15px;
  width: 330px;
  height: 80px;
  background-color: #dbdbdb;
  text-shadow: none;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-color: #7c7c7c;
  border-radius: 5px;
  border-style: solid;
  position: relative;
  transition:box-shadow 0.3s ease-in-out;
}
.donate-button a img {
  width: 125px;
  height: 40px;
  display: flex;
  margin: 0 15px;
  justify-self: left;
}
.donate-btn {
  display: block;
  align-items: right;
  padding: 3px 6px;
  margin-right: 15px;
  margin-left: 80px;
  height: auto;
  width: auto;
  max-height: 60px;
  background-color: rgb(201, 201, 201);
  text-align: center;
  font-size: 20px;
  font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
  transition: 0.3s;
  border-radius: 5px;
  float: right;
  color: rgb(73, 73, 73);
}
.donate-button a:hover {
  box-shadow: transparent;
  text-shadow: none;
  box-shadow: 0 7px 7px rgba(43, 43, 43, 0.4);
}

.donate-btn:hover {
  background-color: #181818;
  color: whitesmoke;
}

/*/ BACK TO TOP /*/
.scrollToTop{
  transform: translateY(100px);
  transition: all 0.4s ease;
  cursor: pointer;
  position: fixed;
  z-index: 40;
}
@media only screen and (min-width:888px){
  .scrollToTop {
    bottom: 30px;
    right: 30px;
  }
  #stt {
    font-size: 35px;
    width: 60px;
    height: 60px;
    padding: 12.5px;
    opacity: 80%;
  }
}
@media only screen and (max-width:887px){
  .scrollToTop {
    bottom: 15px;
    right: 15px;
  }
  #stt {
    font-size: 30px;
    width: 45px;
    height: 45px;
    padding: 12.5px;
    opacity: 50%;
  }
}
#stt {
  background-color: black;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 0px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 0px;
  box-shadow: rgba(0,0,0,0.8) 0 0 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.bi-chevron-double-up {
  color: white;
  background-color: #181818;
}

.showScroll {
  opacity: 1;
  transform: translateY(-75px);
}
#stt:hover {
  opacity: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}