/*/ -- Custom Scrollbar -- /*/
/* width */
::-webkit-scrollbar {
    width: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.html {
  scroll-behavior: smooth;
}

/*/ General Settings /*/

.frame {
    height: 300px;
    margin: 10px;
    position: relative;
    max-width: auto;
  }
img.logo {
    width: 497px;
    height: 190.4px;
    max-height: 100%;
    max-width: 100%;
    min-width: 248.5px;
    min-height: 95.2px;
    position: absolute;
    overflow: hidden;
    object-fit: contain;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    }

  /*/ Footer /*/

  .footer {
    background-color: black;
    width: 100%;
  }
  .footer-container {
    text-align: center;
    display: flex;
    width: 100%;
  }
  .foot-socials {
    float: left;
  }

.foot-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .foot-text a p{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
      color: white;
      text-align: center;
  }

@media only screen and (min-width:888px) {
  .footer {
    margin-bottom: auto;
    height: 75px;
  }
  .footer-container {
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
  }
  .foot-socials {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    display: block;
    width: fit-content;
  }

.foot-text {
  height: 70px;
  width: fit-content;
}

 .foot-text a p{
      font-size: 20px;
  }

  /* Social Icons */
  .bi {
    padding: 10px;
    font-size: 30px;
    width: 30px;
  }
}
@media only screen and (max-width:887px) {
  .footer {
    margin-bottom: auto;
    height: fit-content;
  }
  .footer-container {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: auto 25px;
  }
  .foot-socials {
    padding: 10px 10px;
    height: 50px;
    display: block;
    width: fit-content;
  }

.foot-text {
  height: 70px;
  width: fit-content;
  padding: 0 10px;
}

 .foot-text a p{
      font-size: 15px;
  }

  /* Social Icons */
  .bi {
    padding: 5px;
    font-size: 25px;
    width: 25px;
  }
}

  /* Social Icons */
.bi {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.bi-youtube {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-twitter {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-instagram {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-spotify {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-discord {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.bi-twitch {
  background: #5a5a5a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}


.bi-youtube:hover {
  background: #FF0000;
  color: white;
}
.bi-twitter:hover {
  background: #00acee;
  color: white;
}
.bi-instagram:hover {
  background: #C13584;
  color: white;
}
.bi-spotify:hover {
  background: #1DB954;
  color: white;
}
.bi-discord:hover {
  background: #7289DA;
  color: white;
}
.bi-twitch:hover {
  background: #6441a5;
  color: white;
}


  @font-face {
    font-family: "facile_sansregular";
    src: url("fonts/facile_sans-webfont.woff") format("woff"),
    url("/fonts/facile_sans-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

  }
  @font-face {
    font-family: "MARKPRO-BOLD";
    src: url("fonts/MARKPRO-BOLD.woff") format("woff"),
    url("/fonts/MARKPRO-BOLD.woff") format("woff");
    font-weight: bold;
    font-style: normal;

  }

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  width: 100%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Divider */

hr {
    width:100%;
    border: 1px solid #202020;
    background-color: #202020;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.long-div {
  width:100%;
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  box-shadow: 1px 1px 1px 1px snow;
}

.short-div {
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 1px 1px 1px 1px snow;
}

