/*/ -- Custom Scrollbar -- /*/
/* width */
::-webkit-scrollbar {
    width: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/*/ General Settings /*/

.frame {
    height: 300px;
    margin: 10px;
    position: relative;
    max-width: auto;
  }
img.logo {
    width: 497px;
    height: 190.4px;
    max-height: 100%;
    max-width: 100%;
    min-width: 248.5px;
    min-height: 95.2px;
    position: absolute;
    overflow: hidden;
    object-fit: contain;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    }
body {
    margin: 0;
    width: 100%;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    margin-top: auto;
    max-width: auto;
  }

  .footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    margin-bottom: auto;
  }

  img.logofoot{
    width: 369px;
    height: 115px;
    max-height: 50%;
    max-width: 50%;
    position: left;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    float: left;
    margin:absolute;
  }
  #footer a p{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
      color: white;
      text-align: center;
  }

  @font-face {
    font-family: "facile_sansregular";
    src: url("fonts/facile_sans-webfont.woff") format("woff"),
    url("/fonts/facile_sans-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

  }
  @font-face {
    font-family: "MARKPRO-BOLD";
    src: url("fonts/MARKPRO-BOLD.woff") format("woff"),
    url("/fonts/MARKPRO-BOLD.woff") format("woff");
    font-weight: bold;
    font-style: normal;

  }

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  width: 100%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Divider */

hr {
    width:100%;
    height: 3px;
    background-color: #202020;
}