body {
  background-color: #797979;
}
.frame {
    height: 300px;
    margin: 10px;
    position: relative;
  }
img.logo {
    width: 497px;
    height: 190.4px;
    max-height: 100%;
    max-width: 100%;
    min-width: 248.5px;
    min-height: 95.2px;
    position: absolute;
    overflow: hidden;
    object-fit: contain;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    margin-top: auto;
  }

/* Content */

#welcome {
  padding: 25px 10px;
  max-width: auto;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  font-family: "MARKPRO-BOLD";
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  text-align: center;
}
.section-container {
  padding: 1px;
}
/*/ Section 1 /*/
#section1 {
  width: 100%;
  background-color: #636363;
}
#section1 p {
  padding: 10px;
 }
.projectHead {
  font-family: "MARKPRO-BOLD";
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  text-align: center;
  font-size: 30px;
}
.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*/ Album Title Reveal /*/
.albumCol#albumCap {
  position: relative;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .img {
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .title {
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
	z-index: 10;
  opacity: 0;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  align-items: center;
  vertical-align: middle;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .title h1{
  margin: 0;		
  color: white;
  text-align: center;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap img {
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
 -webkit-filter: blur(0)hue-rotate(0deg)grayscale(0%);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623);
}
.albumCol#albumCap:hover .title, .albumCol#albumCap:active .title{
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  opacity: 1;
}

.albumCol#albumCap:hover img, .albumCol#albumCap:active img{
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  /*/I'd like to do a nice gradient overlay that swipes up, but I can take care of that once the website is done, first it needs to fully function/*/
 -webkit-filter: blur(3px)hue-rotate(10deg)grayscale(25%);
  box-shadow: 0 0 15px 3px #cecece;
}
#slider a {
  position:absolute;
}
#slider a:nth-of-type(1) {
  animation-name: slideFade;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}
#slider a:nth-of-type(2) {
  z-index: 10;
}
#slider a:nth-of-type(n+3) {
  display: none;
}
@keyframes slideFade {
  from{opacity: 1.0;}
  to{opacity: 0.0;}
}
#slideCover {
  margin: auto;
  position: absolute;
  z-index: 30;
  opacity: 100%;
  transition:opacity 0.4s ease-out;
  -moz-transition:opacity 0.4s ease-out;
  -webkit-transition:opacity 0.4s ease-out;
}
#slideCover a {
  position:absolute;
  transition:all 0.4s ease-out;
  -moz-transition:all 0.4s ease-out;
  -webkit-transition:all 0.4s ease-out;
}
#slideCover a img {
  opacity: 100%;
  transition:all 0.4s ease-out;
  -moz-transition:all 0.4s ease-out;
  -webkit-transition:all 0.4s ease-out;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623);
}
#slideCover a img:hover {
  opacity: 20%;
  transition:opacity 0.4s ease-in-out;
  -moz-transition:opacity 0.4s ease-in-out;
  -webkit-transition:opacity 0.4s ease-in-out;
}
#slideCover a:hover {
  box-shadow: 0 0 15px 3px #cecece;
  transition:box-shadow 0.4s ease-in-out;
  -moz-transition:box-shadow 0.4s ease-in-out;
  -webkit-transition:box-shadow 0.4s ease-in-out;
}

/*/ Section 2 /*/

#section2 {
  width: 100%;
}
#section2 h1{
  font-family: "MARKPRO-BOLD";
  font-size: 40px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
}
#section2 p {
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
}
#section2 p a{
  color: rgb(169, 192, 255);
  text-shadow: 1px 1px 10px black;
}
#section2 p a:hover{
  color: rgb(84, 161, 212);
  text-shadow: 1px 1px 10px black;
}

/*/ Section 3 /*/

#section3 {
  width: 100%;
}
#section3 h1{
  font-family: "MARKPRO-BOLD";
  font-size: 40px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
}
#section3 p {
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
}
#section3 p a{
  color: rgb(169, 192, 255);
  text-shadow: 1px 1px 10px black;
}
#section3 p a:hover{
  color: rgb(84, 161, 212);
  text-shadow: 1px 1px 10px black;
}

@media only screen and (min-width: 888px){
  .section-container {
    margin: auto;
  }

  .section-child {
    width: 50%;
    float: left;
  }
  #section1 {
    padding: 10px 50px;
  }
  #section1 p {
    text-align: left;
    margin-left: 5%;
    margin-right: 10%;
  }
  .projectHead {
    margin: 10;
    padding: 10px;
  }
  .album-container {
    padding: 5px 5%;
  }
  .album{
    padding: 10px 10px;
  }
  .album img {
    width: 250px;
    height: 250px;
    display: block;
  }

  /*/ Album Title Reveal /*/

  .albumCol#albumCap .title {
    margin: auto auto;
    min-width: 245px;
    min-height: 245px;
    max-width: 250px;
    max-height: 250px;				
  }
  .album a {
    width: 250px;
    height:250px;
  }

  /*/ Slideshow /*/
  #slider {
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
  }
  #slider a img {
    width: 250px;
    height: 250px;
  }

  /*/ Reveal Slideshow on Hover /*/
  .slides {
    display :inline-block;
    width: 250px;
    height: 250px;
    padding: 10px 10px;
  }
  #slideCover {
    width: 300px;
    height: 300px;
  }
  #slideCover a {
    width: 250px;
    height: 250px;
  }
  #slideCover a img {
    width: 250px;
    height: 250px;
  }

  /*/ Smaller Albums for bigger screens /*/

  @media only screen and (max-width: 1063px){
    .projectHead {
      margin: 7;
      padding: 5px;
    }
    .album-container {
      padding: 3% 5%;
    }
    .album{
      padding: 5px 5px;
    }
    .album img {
      width: 200px;
      height: 200px;
      display: block;
    }
  
    /*/ Album Title Reveal /*/
  
    .albumCol#albumCap .title {
      margin: auto auto;
      min-width: 175px;
      min-height: 175px;
      max-width: 200px;
      max-height: 200px;				
    }
    .album a {
      width: 200px;
      height:200px;
    }
  
    /*/ Slideshow /*/
    #slider {
      margin: auto;
      width: 200px;
      height: 200px;
      position: relative;
      
    }

    #slider a img {
      width: 200px;
      height: 200px;
    }
  
    /*/ Reveal Slideshow on Hover /*/
    .slides {
      display :inline-block;
      width: 200px;
      height: 200px;
      padding: 5px 5px;
    }
    #slideCover {
      width: 200px;
      height: 200px;
    }
    #slideCover a {
      width: 200px;
      height: 200px;
    }
    #slideCover a img {
      width: 200px;
      height: 200px;
    }
  
  }
  
  /*/ Section 2 /*/

  #section2 {
    padding: 10px 50px;
  }
  #section2 h1 {
    text-align: left;
    margin-left: 25%;
  }
  #section2 p {
    text-align: left;
    margin-left: 5%;
    margin-right: 10%;
  }
  #section3 {
    padding: 10px 50px;
  }
  #section3 h1 {
    text-align: right;
    margin-left: 25%;
  }
  #section3 p {
    text-align: left;
    margin-left: 5%;
    margin-right: 10%;
  }
}

/*/ Mobile Content /*/
@media only screen and (max-width: 887px){
  .section-child {
    width: 100%;
  }
  #section1 {
    padding: 10px 25px;
  }
  @media only screen and (max-width: 887px) and (min-width:551px){
    .projectHead {
      padding: 5px;
    }
    .album-container {
      padding: 3% 5%;
    }
    .album{
      padding: 5px 5px;
    }
    .album img {
      width: 175px;
      height: 175px;
      display: block;
    }
  
    /*/ Album Title Reveal /*/
  
    .albumCol#albumCap {
      border-color: black;
    }
  
    .albumCol#albumCap .title {
      min-width: 174px;
      min-height: 174px;
      max-width: 175px;
      max-height: 175px;				
    }
    .album a {
      width: 175px;
      height:175px;
    }
  
    /*/ Slideshow /*/
    #slider {
      margin: auto;
      width: 175px;
      height: 175px;
      position: relative;
      
    }
    #slider a img {
      width: 175px;
      height: 175px;
    }
  
    /*/ Reveal Slideshow on Hover /*/
    .slides {
      display :inline-block;
      width: 175px;
      height: 175px;
      padding: 5px 5px;
    }
    #slideCover {
      width: 175px;
      height: 175px;
    }
    #slideCover a {
      width: 175px;
      height: 175px;
    }
    #slideCover a img {
      width: 175px;
      height: 175px;
    }
  }

  /*/ Album Stuff for even smaller displays /*/
  @media only screen and (max-width: 550px){
    .album-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2% 3%;
    }
    .album{
      padding: 2.5px 2.5px;
    }
    .album img {
      width: 100px;
      height: 100px;
      display: block;
    }
  
    /*/ Album Title Reveal /*/
  
    .albumCol#albumCap {
      border-color: black;
    }

    .albumCol#albumCap .title {
      min-width: 99px;
      min-height: 99px;
      max-width: 100px;
      max-height: 100px;				
    }
    .album a {
      width: 100px;
      height:100px;
    }
  
    /*/ Slideshow /*/
    #slider {
      margin: auto;
      width: 100px;
      height: 100px;
      position: relative;
      
    }
    #slider a {
      position:absolute;
    }
    #slider a img {
      width: 100px;
      height: 100px;
    }
    #slider a:nth-of-type(1) {
      animation-name: slideFade;
      animation-delay: 4s;
      animation-duration: 1s;
      z-index: 20;
    }
    #slider a:nth-of-type(2) {
      z-index: 10;
    }
    #slider a:nth-of-type(n+3) {
      display: none;
    }
    @keyframes slideFade {
      from{opacity: 1.0;}
      to{opacity: 0.0;}
    }
  
    /*/ Reveal Slideshow on Hover /*/
    .slides {
      display :inline-block;
      width: 100px;
      height: 100px;
      padding: 5px 5px;
    }
    #slideCover {
      width: 100px;
      height: 100px;
    }
    #slideCover a {
      width: 100px;
      height: 100px;
    }
    #slideCover a img {
      width: 100px;
      height: 100px;
    }
    #slideCover a img:hover {
      opacity: 20%;
      transition:all 0.4s ease-in;
    }
    #slideCover a:hover {
      box-shadow: 0 0 15px 3px #333333;
      transition:all 0.4s ease-in;
    }
  }
  #section1 p {
    text-align: center;
    margin: 5%;
  }
  #section2 {
    padding: 10px 25px;
    width: 100%;
  }
  #section2 h1 {
    text-align: center;
    margin: 5%;
  }
  #section2 p {
    text-align: center;
    margin: 5%;
  }
  #section3 {
    padding: 10px 25px;
    width: 100%;
  }
  #section3 h1 {
    text-align: center;
    margin: 5%;
  }
  #section3 p {
    text-align: center;
    margin: 5%;
  }
}


#scrollText {
  margin: auto auto;
  padding: 10px 10px;
  word-wrap: normal;
}
