body {
  background: var(--background-primary);
}
.homehead {
  width: 100%;
  margin-top: auto;
  background-color: #ffc342;
  max-width: auto;
  background-attachment: fixed;
}
.frame {
  width: 100%;
  height: 250px;
  position: relative;
}
img.logo {
  width: 497px;
  height: 190.4px;
  max-height: 100%;
  max-width: 100%;
  min-width: 248.5px;
  min-height: 95.2px;
  position: absolute;
  overflow: hidden;
  object-fit: contain;
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-filter: drop-shadow( 1px 1px 10px rgba(0, 0, 0, .9));
  filter: drop-shadow( 1px 1px 10px rgba(0, 0, 0, .9));
}
  
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  margin-top: auto;
}

/* Content */
.welcome {
}
.section-one-container {
  padding: 1px;
  padding-bottom: 10px;
}
.section-three-container {
  padding: 1px;
  padding-bottom: 10px;
}
.section-container {
  display: flex;
  flex-wrap: wrap;
}
/*/ Section 1 /*/
#section1 {
  width: 100%;
  background: var(--background-secondary);
}
.projectHead {
  font-family: "MARKPRO-BOLD";
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-size: 30px;
}
.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*/ Album Title Reveal /*/
.albumCol#albumCap {
  position: relative;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .img {
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .title {
  display: flex;
  position: absolute;
	z-index: 10;
  opacity: 0;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  align-items: center;
  vertical-align: middle;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .title h1{
  margin: 0;		
  color: white;
  text-align: center;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap img {
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
 -webkit-filter: blur(0)hue-rotate(0deg)grayscale(0%);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623);
}
.albumCol#albumCap:hover .title, .albumCol#albumCap:active .title{
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  opacity: 1;
}

.albumCol#albumCap:hover img, .albumCol#albumCap:active img{
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  /*/I'd like to do a nice gradient overlay that swipes up, but I can take care of that once the website is done, first it needs to fully function/*/
 -webkit-filter: blur(3px)hue-rotate(10deg)grayscale(25%);
  box-shadow: 0 0 15px 3px #cecece;
}
#slider a {
  position:absolute;
}
#slider a:nth-of-type(1) {
  animation-name: slideFade;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}
#slider a:nth-of-type(2) {
  z-index: 10;
}
#slider a:nth-of-type(n+3) {
  display: none;
}
@keyframes slideFade {
  from{opacity: 1.0;}
  to{opacity: 0.0;}
}
#slideCover {
  position: absolute;
  z-index: 30;
  opacity: 100%;
  transition:opacity 0.4s ease-out;
  -moz-transition:opacity 0.4s ease-out;
  -webkit-transition:opacity 0.4s ease-out;
}
#slideCover a {
  position:absolute;
  transition:all 0.4s ease-out;
  -moz-transition:all 0.4s ease-out;
  -webkit-transition:all 0.4s ease-out;
}
#slideCover a img {
  opacity: 100%;
  transition:all 0.4s ease-out;
  -moz-transition:all 0.4s ease-out;
  -webkit-transition:all 0.4s ease-out;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623);
}
#slideCover a img:hover {
  opacity: 20%;
  transition:opacity 0.4s ease-in-out;
  -moz-transition:opacity 0.4s ease-in-out;
  -webkit-transition:opacity 0.4s ease-in-out;
}
#slideCover a:hover {
  box-shadow: 0 0 15px 3px #cecece;
  transition:box-shadow 0.4s ease-in-out;
  -moz-transition:box-shadow 0.4s ease-in-out;
  -webkit-transition:box-shadow 0.4s ease-in-out;
}

/*/ Section 2 /*/

#section2 {
  margin: 25px;
}
#section2 h1{
  font-family: "MARKPRO-BOLD";
  font-size: 40px;
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
}
#section2 p {
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
}
#section2 p a{
  color: var(--link-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: none;
}
#section2 p a:hover{
  color: var(--link-secondary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: underline;
}

/*/ Section 3 /*/

#section3 {
  margin: 25px;

}
#section3 h1{
  font-family: "MARKPRO-BOLD";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  margin: 10px;
}
#section3 p {
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
}
#section3 p a{
  color: var(--link-primary);
  text-decoration: none;
  text-shadow: 1px 1px 10px var(--shadow-primary);
}
#section3 p a:hover{
  color: var(--link-secondary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: underline;
}
.latest-video{
  box-shadow: 0 0 8px 3px #333333;
}

/*/ Section 4 /*/

/*/ Section 5 /*/

.news-container {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.news-headings h1 {
  font-family: "Domine-Regular";
  font-weight: normal;
  font-style: normal;
  color: var(--color-primary);
  text-shadow: 3px 2px 6px #2b2b2b;
}
.article-container {
  background: #797979;
}
#section5 {
  width: 100%;
  background: var(--background-secondary);
}
/*/ Section 6 /*/

/*/ Section 7 /*/

@media only screen and (min-width: 888px){
  .section-container {
    justify-content: center;
    align-items: center;
  }

  .section-child-1 {
    margin-right: 25px;
    width: 440px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-child-2 {
    margin-left: 25px;
    width: 440px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #section1 p {
    text-align: left;
    margin-left: 5%;
    margin-right: 10%;
  }
  .album-container {
    padding: 5px 5px;
  }
  .album{
    padding: 10px 10px;
  }
  .album img {
    width: 250px;
    height: 250px;
    display: block;
  }

  /*/ Album Title Reveal /*/

  .albumCol#albumCap .title {
    margin: auto auto;
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;				
  }
  .album a {
    width: 250px;
    height:250px;
  }

  /*/ Slideshow /*/
  #slider {
    width: 250px;
    height: 250px;
    position: relative;
  }
  #slider a img {
    width: 250px;
    height: 250px;
  }

  /*/ Reveal Slideshow on Hover /*/
  .slides {
    padding: 10px 10px;
  }
  #slideCover {
    width: 250px;
    height: 250px;
  }
  #slideCover a {
    width: 250px;
    height: 250px;
  }
  #slideCover a img {
    width: 250px;
    height: 250px;
  }

  /*/ Smaller Albums for bigger screens /*/

  @media only screen and (max-width: 1063px){
    .projectHead {
      margin: 7;
      padding: 5px;
    }
    .album-container {
      padding: 3% 5%;
    }
    .album{
      padding: 5px 5px;
    }
    .album img {
      width: 200px;
      height: 200px;
      display: block;
    }
  
    /*/ Album Title Reveal /*/
  
    .albumCol#albumCap .title {
      min-width: 175px;
      min-height: 175px;
      max-width: 200px;
      max-height: 200px;				
    }
    .album a {
      width: 200px;
      height:200px;
    }
  
    /*/ Slideshow /*/
    #slider {
      width: 200px;
      height: 200px;
      position: relative;
    }

    #slider a img {
      width: 200px;
      height: 200px;
    }
  
    /*/ Reveal Slideshow on Hover /*/
    .slides {
      padding: 5px 5px;
    }
    #slideCover {
      width: 200px;
      height: 200px;
    }
    #slideCover a {
      width: 200px;
      height: 200px;
    }
    #slideCover a img {
      width: 200px;
      height: 200px;
    }
  
  }
  
  /*/ Section 2 /*/

  #section2 {
  }
  #section2 h1 {
    text-align: center;
  }


  /*/ Section 3 /*/

  #section3 {
  }
  #section3 h1 {
    text-align: center;
    font-size: 45px;
  }
  #section3 p {
    text-align: center;
  }
  .latest-video {
    width: 426px;
    height: 240px;
  }
  .latest-video iframe{
    width: 426px;
    height: 240px;
    display: block;
    justify-self: center;
    align-self: center;
  }
  .video-cont {
    width: 426px;
    height: 240px;
  }
  .video-cont iframe{
    width: 426px;
    height: 240px;
  }

  /*/ Section 5 /*/

  .article-container {
    margin: 10px 15px;
    max-height: 500px;
    display: flex;
    justify-content: center;
  }
  .news-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 375px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 4px 4px #222222;
}
.news-headings {
  text-align: center;
  padding: 5px;
  width: 375px;
}
.news-headings h1{
  text-decoration: underline;
  color: white;
  font-size: 22px;
}
.default-news-head {
  font-family: "facile_sansregular";
  font-weight: normal;
  font-style: normal;
}
  .news-headings h3{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin: 1px;
  }

  .news-border img{
      width: 350px;
      align-self: center;
      height: 350px;
      padding: 10px;
  }
  .news-border a{
    width: 350px;
    align-self: center;
    height: 350px;
  }
}

/*/ Mobile Content /*/
@media only screen and (max-width: 887px){
  .section-container {
    justify-content: center;
    align-items: center;
  }
  .section-child-1 {
    width: 442px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-child-2 {
    width: 442px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #section1 {
    padding: 10px 25px;
  }
  .article-container {
    margin: 10px 15px;
    display: flex;
    justify-content: center;
}
.news-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 321px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 4px 4px #222222;
}
.news-headings {
  text-align: center;
  width: 321px;
}
.news-headings h1{
  text-decoration: underline;
  padding-top: 2px;
  color: white;
  font-size: 22px;
}
.default-news-head {
  font-family: "facile_sansregular";
  font-weight: normal;
  font-style: normal;
}
  .news-headings h3{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    margin-top: 7px;
  }

  .news-border img{
      width: 300px;
      align-self: center;
      height: 300px;
      padding-top: 15px;
  }
  .news-border a{
    width: 300px;
    align-self: center;
    height: 300px;
  }
  @media only screen and (max-width: 887px) and (min-width:551px){
    .projectHead {
      padding: 5px;
    }
    .album-container {
      padding: 3% 5%;
    }
    .album{
      padding: 5px 5px;
    }
    .album img {
      width: 175px;
      height: 175px;
      display: block;
    }
  
    /*/ Album Title Reveal /*/
  
    .albumCol#albumCap {
      border-color: black;
    }
  
    .albumCol#albumCap .title {
      min-width: 174px;
      min-height: 174px;
      max-width: 175px;
      max-height: 175px;				
    }
    .album a {
      width: 175px;
      height:175px;
    }
  
    /*/ Slideshow /*/
    #slider {
      width: 175px;
      height: 175px;
      position: relative;
      
    }
    #slider a img {
      width: 175px;
      height: 175px;
    }
  
    /*/ Reveal Slideshow on Hover /*/
    .slides {
      padding: 5px 5px;
    }
    #slideCover {
      width: 175px;
      height: 175px;
    }
    #slideCover a {
      width: 175px;
      height: 175px;
    }
    #slideCover a img {
      width: 175px;
      height: 175px;
    }
  }

  /*/ Album Stuff for even smaller displays /*/
  @media only screen and (max-width: 550px){
    .album-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 2% 3%;
    }
    .album{
      padding: 2.5px 2.5px;
    }
    .album img {
      width: 100px;
      height: 100px;
      display: block;
    }
  
    /*/ Album Title Reveal /*/
  
    .albumCol#albumCap {
      border-color: black;
    }

    .albumCol#albumCap .title {
      width: 100px;
      height: 100px;
      max-width: 100px;
      max-height: 100px;				
    }
    .album a {
      width: 100px;
      height:100px;
    }
  
    /*/ Slideshow /*/
    #slider {
      width: 100px;
      height: 100px;
      position: relative;
      
    }
    #slider a {
      position:absolute;
    }
    #slider a img {
      width: 100px;
      height: 100px;
    }
    #slider a:nth-of-type(1) {
      animation-name: slideFade;
      animation-delay: 4s;
      animation-duration: 1s;
      z-index: 20;
    }
    #slider a:nth-of-type(2) {
      z-index: 10;
    }
    #slider a:nth-of-type(n+3) {
      display: none;
    }
    @keyframes slideFade {
      from{opacity: 1.0;}
      to{opacity: 0.0;}
    }
  
    /*/ Reveal Slideshow on Hover /*/
    .slides {
      padding: 2.5px 2.5px;
    }
    #slideCover {
      width: 100px;
      height: 100px;
    }
    #slideCover a {
      width: 100px;
      height: 100px;
    }
    #slideCover a img {
      width: 100px;
      height: 100px;
    }
    #slideCover a img:hover {
      opacity: 20%;
      transition:all 0.4s ease-in;
    }
    #slideCover a:hover {
      box-shadow: 0 0 15px 3px #333333;
      transition:all 0.4s ease-in;
    }
  }
  #section1 p {
    text-align: center;
    margin: 5%;
  }
  #section2 {
  }
  #section2 h1 {
    text-align: center;
  }
  #section3 {
    height: fit-content;
  }
  #section3 h1 {
    text-align: center;
    font-size: 30px;
  }
  #section3 p {
    text-align: center;
  }
  .latest-video {
    width: 320px;
    height: 180px;
  }
  .latest-video iframe{
    width: 320px;
    height: 180px;
    display: block;
    justify-self: center;
    align-self: center;
  }
  
  .video-cont {
    width: 320px;
    height: 180px;
  }
  .video-cont iframe{
    width: 320px;
    height: 180px;
  }
}

.video-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: fit-content;
  padding: 0 25px;
}

.video-cont iframe {
  box-shadow: 0 0 8px 3px #333333;
    display: block;
}

#scrollText {
  margin: auto auto;
  padding: 10px 10px;
  word-wrap: normal;
}


.latest-vids-sect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto 5%;
}