.homehead {
    background-color: coral;
    background-image: url("images/OrangeHeading.png");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover cover;
    height: 340px;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
.frame {
    height: 340px;
    margin: 10px;
    position: relative;
  }
img.logo {
    width: 369px;
    height: 115px;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    }
body {
    margin: 0;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    margin-top: auto;
  }

  .footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    margin-bottom: auto;
  }

  img.logofoot{
    width: 369px;
    height: 115px;
    max-height: 50%;
    max-width: 50%;
    position: left;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    float: left;
    margin:absolute;
  }
  #footer a {
      font-family:Arial;
      font-size: normal;
      color: white;
      text-align: center;
  }

  @font-face {
    font-family: "facile_sansregular";
    src: url("fonts/facile_sans-webfont.woff") format("woff"),
    url("/fonts/facile_sans-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

  }
  @font-face {
    font-family: "MARKPRO-BOLD";
    src: url("fonts/MARKPRO-BOLD.woff") format("woff"),
    url("/fonts/MARKPRO-BOLD.woff") format("woff");
    font-weight: bold;
    font-style: normal;

  }
  h1 {
    font-family: "MARKPRO-BOLD";
    font-weight: bold;
    font-style: normal;
    color: black;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 50px;
  }