/*/ Music Page /*/



/*/ Projects Page /*/
.projHead {
    margin: 2%;
  }
  
  .projHead h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-family: "MARKPRO-BOLD";
    text-align: center;
    padding-bottom: 5px;
  }
  /* give more room on the "projCover" class so that text fits snug and the grid looks proper. */
  .projHead p {
    text-align: center;
  }
  .albumContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .projCover{
    padding: 10px 10px;
    width: 550px;
    height: 550px;
  }
  .projCover a{
    width: 550px;
    height: 550px;
  }
  .projCover img {
    width: 100%;
    position: relative;
    display: block;
  }
  .projInfo {
    width: 550px;
  }
  .projTitle {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: "MARKPRO-BOLD";
    text-align: center;
  }
  .projRelease {
    font-family: "BAHNSCHRIFT";
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
    color: #686868
  }