/* ========== Base ========== */
* {
  text-decoration: none;
}
.music-body {
  background: var(--background-secondary);
}

/* ========== Music Page Selector ========== */
.music-page-select {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 5%;
  background: var(--background-primary);
}
.produced-it,
.artist-305 {
  width: 400px;
  height: 320px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.produced-img {
  width: 350px;
  border: 3px solid#222222;
  overflow: hidden;
  display: flex;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.produced-img:hover {
  border-radius: 20px;
  box-shadow: rgba(194, 194, 194, 0.8) 0 0 10px;
}
.music-text-box {
  height: 40px;
  width: 444px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.music-text-box p {
  text-align: center;
  color:var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
}

/* ========== 305 Produced It Section ========== */
.producedHead {
  font-family: "MARKPRO-BOLD", sans-serif;
  color: var(--color-primary);
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
.producedHead h3 {
  font-family: "BAHNSCHRIFT", sans-serif;
  font-weight: normal;
  font-size: 20px;
}
.prod-contact p{
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-family: "BAHNSCHRIFT", sans-serif;
  font-weight: normal;
}
.prod-contact p a{
  color: var(--link-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: none;
}
.prod-contact p a:hover{
  color: var(--link-secondary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: underline;
}
.project-logo-container {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}
.demo-reel {
  padding: 15px;
  height: fit-content;
}
.demo-text h2{
  font-family: "MARKPRO-BOLD", sans-serif;
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-size: 35px;
  padding: 10px;
}
.demo-audio {
  justify-content: center;
  display: flex;
  align-items: center;
}

/* ========== Artist Section ========== */
#artist305 {
  background: var(--background-secondary);
}
.projectHead,
.art-vid-head {
  font-family: "MARKPRO-BOLD", sans-serif;
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-size: 30px;
}
.art-vid-head {
  padding: 5px;
}
.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.albumCol#albumCap {  /*/ Album Title Reveal /*/
  position: relative;
  transition: all .3s ease-out;
}
.albumCol#albumCap .img,
.albumCol#albumCap .title,
.albumCol#albumCap .title h1 {
  transition: all .3s ease-out;
}
.albumCol#albumCap .title {
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
	z-index: 10;
  opacity: 0;
  font-family: "MARKPRO-BOLD", sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  align-items: center;
}
.albumCol#albumCap .title h1{
  margin: 0;		
  color: white;
}
.albumCol#albumCap img {
  transition:all 0.4s ease-in-out;
  filter: blur(0)hue-rotate(0deg)grayscale(0%);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623);
}
.albumCol#albumCap:hover .title,
.albumCol#albumCap:active .title {
  opacity: 1;
}

.albumCol#albumCap:hover img,
.albumCol#albumCap:active img {   /*/I'd like to do a nice gradient overlay that swipes up, but I can take care of that once the website is done, first it needs to fully function/*/
  filter: blur(3px)hue-rotate(10deg)grayscale(25%);
  box-shadow: 0 0 15px 3px #cecece;
}
#slider a { /*/ Slideshow /*/
  position:absolute;
}
#slider a:nth-of-type(1) {
  animation-name: slideFade 1s 4s;
  z-index: 20;
}
#slider a:nth-of-type(2) {
  z-index: 10;
}
#slider a:nth-of-type(n+3) {
  display: none;
}
@keyframes slideFade {
  from{opacity: 1.0;}
  to  {opacity: 0.0;}
}
#slideCover {
  position: absolute;
  z-index: 30;
  opacity: 100%;
  transition:opacity 0.4s ease-out;
}
#slideCover a {
  position:absolute;
  transition:all 0.4s ease-out;
}
#slideCover a img {
  opacity: 1;
  transition:all 0.4s ease-out;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623);
}
#slideCover a img:hover {
  opacity: .2;
  transition:opacity 0.4s ease-in-out;
}
#slideCover a:hover {
  box-shadow: 0 0 15px 3px #cecece;
}

/* ========== Music Footer ========== */
.musFooter {
  background-color: black;
  padding: 10px;
  text-align: center;
  margin-bottom: auto;
  width: 100%;
}

.musFDiv{
  width: 60%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin: 3px 20% 6px;
}

#footerMus a p{
  font-family: "BAHNSCHRIFT", sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

/* ========== Projects Page ========== */
.projHead {
  background: var(--background-primary);
}
.projHead p {
  text-align: center;
  padding: 0 0 15px;
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
}
.proj-head-div {
  margin-bottom: 15px;
}
.albumContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projRelease {
  color: var(--release-text-primary);
}
.albumElement {
  opacity: 0;
  transition: 0.3s opacity;
}

/* ========== Pages for each Release ========== */
.proj-headings h1,
.news-headings h1 {
  color: white;
}
.proj-headings h2,
.news-headings h2 {
  color: rgb(216, 216, 216);
}
.proj-headings h3,
.news-headings h3 {
  color: rgb(53, 53, 53);
  margin-block: 0;
}
.news-headings {
  text-align: center;
}
.proj-div,
.vol-div {
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  box-shadow: 1px 1px 1px 1px snow;
}
.proj-div {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
}
.vol-div {
  width: 100%;
  margin: 30px 0 15px;
}
.stream-head,
.stream-head-ost,
.mv-head,
.news-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stream-head {
  margin: 37px 15px 25px;
  height: 70px;
}
.stream-head-ost {
  margin: 35px 0 25px;
  height: 90px;
}
.mv-head {
  margin: 10px 15px 5px;
  height: 40px;
}
.stream-head h1,
.stream-head-ost h1,
.mv-head h1,
.news-head h1 {
  text-align: center;
  font-family: "MARKPRO-BOLD", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 3px 2px 14px #3B3B3B;
}
.mv-head h1 {
  font-size: 30px;
}
.filter-black {
  filter: invert(100%);
}
/* DSP / Streaming buttons */
.dsp-container {
  margin: 0 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dsp-column {
  margin: 0 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.dsp-element a {
  margin: 15px;
  width: 330px;
  height: 80px;
  background-color: #dbdbdb;
  border: 2px solid #7c7c7c;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}
.dsp-element a img {
  width: 125px;
  height: 40px;
  margin: 0 15px;
}
.dsp-button,
.dsp-button-pre {
  display: block;
  padding: 3px 6px;
  height: auto;
  max-height: 60px;
  background-color: rgb(201, 201, 201);
  text-align: center;
  font-family: "BAHNSCHRIFT", sans-serif;
  transition: 0.3s;
  border-radius: 5px;
  float: right;
  color: rgb(73, 73, 73);
}
.dsp-button {
  margin-right: 15px;
  margin-left: 80px;
  font-size: 20px;
}
.dsp-button-pre {
  padding: 3px 5px;
  margin-right: 10px;
  margin-left: 65px;
  font-size: 18px;
}
.dsp-element a:hover {
  box-shadow: 0 7px 7px rgba(43, 43, 43, 0.4);
}
.dsp-button:hover,
.dsp-button-pre:hover {
  background-color: #181818;
  color: whitesmoke;
}
.video-container {
  margin: 0 20px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.music-video {
  padding: 15px;
}
.album-head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 20px 0;
}
.news-container {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* ========== Release-specific styles ========== */
.ugly {
  background-color: #444444;
  color: white;
}
.uglyTitle {
  font-family: "AssassinNinja", sans-serif;
  color: white;
  font-size: 35px;
}
.vaporwave {
  background-color: #c7479c;
  color: white;
}
.vaporwave-projTitle {
  font-family: "facile_sansregular", sans-serif;
  color: white;
  font-size: 17px;
  margin-top: 5px;
  padding-bottom: 7px;
}
.yandere-proj { /* General Yandere */
  background-color: #e96ec0;
}
.schoolday-proj {
  background-color: #ff76d1;
}
.yandere-title,
.abc-title,
.vol-title {
  font-family: "FUTURA", sans-serif;
  color: white;
  text-shadow: 3px 2px 14px #3B3B3B;
}
.abc-body {
  background-color: #3B3B3B;
}
.ost-vol1,
.volume-1 {
  background-color: #65c9e7;
}
.volume-2 {
  background-color: #b60000;
}
.deli-body {
  background-color: #380000;
}
.deli-body h3 {
  color: #cecece;
}
.deli-body h1 {
  text-shadow: 3px 2px 14px #ff0000;
}
.ost2022-body {
  background-color: #ffa9ea;
}
.ost2022-body h3 {
  color: #535353;
}
.ost2022-body h1 {
  text-shadow: 3px 2px 14px #3a3a3a;
}
.ysfinal-body {
  background-color: #ffa4c7;
}
.ysfinal-body h3 {
  color: #535353;
}
.ysfinal-body h1 {
  text-shadow: 3px 2px 14px #3a3a3a;
}
.unders { /* UNDERSTAND ME */
  background-color: #444444;
  color: white;
}
.undersTitle {
  font-family: "VINYL", sans-serif;
  color: white;
  font-size: 35px;
  padding-bottom: 3px;
}
.stream-head-ost h1 {
  text-align: center;
  font-family: "MARKPRO-BOLD", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
  text-shadow: 3px 2px 14px #3B3B3B;
}
.ys-vinyl-head {
  align-items: center;
  justify-content: center;
}
.ys-vinyl-head h1 {
  text-align: center;
  font-family: "FUTURA", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow: 3px 2px 14px #9999996b;
}

/* ========== Yandere Disclaimer ========== */
.ys-alert-container {
  padding: 10px 0;
  margin: 0 auto;
  opacity: 1; /* this may be redundant but in this one instance im keeping it as a failsafe for the fadeout */
  max-width: 1250px;
  z-index: 30;
  position: fixed;
}
.ys-alert {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
  width: 98%;
  opacity: 1; /* this may be redundant but in this one instance im keeping it as a failsafe for the fadeout */
  transition: all 0.9s;
  background-color: var(--alertbck-primary);
  box-shadow: 1px 1px 30px 1px var(--alertshadow-primary);
}
.ys-alert-icon {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.ys-alert-text {
  margin-left: 1em;
  font-size: 25px;
  opacity: 1; /* this may be redundant but in this one instance im keeping it as a failsafe for the fadeout */
  transition: opacity 0.2s;
  font-weight: 300;
  font-family: "FUTURA", sans-serif;
  color: var(--alerttext-primary);
  text-shadow: 1px 1px 20px var(--alerttextshadow-primary);
}
.ys-alert-text a1 {
  font-weight: 500;
  font-family: "MARKPRO-BOLD", sans-serif;
  text-decoration: underline;
}
.ys-alert-text a {
  text-decoration: none;
  color: var(--alertlink-primary);
}
.ys-alert-text a:hover{
  text-decoration: underline;
  color: var(--alertlink-secondary);
}
.ys-alert-closebtn {
  float: right;
  padding-left: 20px;
  font-weight: bold;
  font-size: 25px;
  background: none;
  border: none;
  color: var(--alerttext-primary);
  cursor: pointer;
}

/* ========== Vinyl Shop/Promo ========== */
.vinyl-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ys-vinyl-promo{
  margin: 0;
  background-color: #9b536e;
  padding: 20px;
  background-image: url("../images/vinyl/AlbumCoverAllSides.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.vinyl-info p{
  text-shadow: 0px 0px 9px #000000;
}
.vinyl-info h3{
  font-family: "FUTURA", sans-serif;
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-shadow: 0px 0px 15px #000000;
  margin: 0;
}
.vinyl-info h2{
  font-family: "FUTURA", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-shadow: 0px 0px 15px #000000;
  margin: 0;
}
.vinyl-info emphasis {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
.vinyl-info button,
.vinyl-info button a {
  background-color: rgb(255, 121, 204);
  color: white;
  border-radius: 12px;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-family: "FUTURA", sans-serif;
}
.vinyl-info button a{
  font-size: 22px;
  padding: 15px 32px;
}

.vinyl-info button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.vinyl-info button a:hover {
  text-shadow: 0px 0px 15px #ffffff;
}
.slideshow-container {
  position: relative;
}
#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}

/* ========== Display ========== */
@media only screen and (min-width:888px) {
  .prod-contact {
    font-size: 20px;
    padding: 10px;
  }
  .project-logo-container a {
    padding: 10px 25px;
  }
  .project-logo-container a img {
    height: 200px;
    width: auto;
  }
  #artist305 {  /* Artist stuff */
    padding: 10px 50px;
  }
  .projectHead {
    margin: 10px;
    padding: 10px;
  }
  .album-container {
    padding: 5px;
  }
  .album {
    padding: 10px;
  }
  .album img,
  .album a,
  #slider,
  #slider a img,
  #slideCover,
  #slideCover a,
  #slideCover a img {
    width: 250px;
    height: 250px;
  }
  .albumCol#albumCap .title {
    margin: auto;
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;				
  }
  .slides { /*/ Reveal Slideshow on Hover /*/
    padding: 10px;
  }
  .albumContainer {
    margin: auto 3%;
  }
  .albumElement{
    max-height: 600px;
    max-width: 560px;
    /*align-items: center;
    justify-content: start; */
    margin: 15px 7px;
  }
  .projArt{
    margin: auto 15px;
    width: 520px;
    height: 520px;
    display: flex;
  }
  .projCover {
    width: 520px;
    height: 520px;
    z-index: 20;
    margin: auto;
    position: absolute;
    /*align-items: center;
    justify-content: center;*/
  }
  .vinyl {
    z-index: 1;
    position: relative;
    margin: auto;
    width: 520px;
    height: 520px;
  }
  .vinyl img {
    width: 100%;
    height: 100%;
    padding: 5%;
    position: absolute;
    right: 0;
    transform:scale(0.9) rotate(270deg);
    transition: all .3s ease-out;
  }
  .projCover img {
    padding: 5px;
    width: 510px;
    height: 510px;
    position: relative;
    transition: all .3s ease-out;
  }
  .projInfo {
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
  }
  .projTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: "MARKPRO-BOLD", sans-serif;
    text-align: center;
  }
  .projRelease {
    font-family: "BAHNSCHRIFT", sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 15px;
  }
  .projArt a:hover .projCover img { /*/ Record Spin on Hover /*/
    right: 15px;
    margin-left: -15%;
    transform:scale(0.8);
    transition:all 0.4s ease-in-out;
  }
  .projArt a:hover .vinyl img {
    margin-right: -23%;
    transform: scale(0.77) rotate(5deg);
    transition:all 0.4s ease-in-out;
  }
  .proj-container {
    display: flex;
    justify-content: center;
  }
  .proj-border,
  .news-border {
    display: flex;
    flex-direction: column;
    width: 375px;
    border: 3px solid white;
    box-shadow: 1px 1px 4px 4px #222222;
  }
  .proj-headings,
  .news-headings {
    text-align: center;
    /*width: 375px;*/
  }
  #trackHead {
    width:405px;
  }
  #trackHead ul{
    padding-left: 30px;
    width: 395px;
  }
  .proj-headings h1,
  .news-headings h1 {
    text-decoration: underline;
  }
  .default-projTitle,
  .default-news-head {
    font-family: "facile_sansregular", sans-serif;
  }
  .proj-headings h2,
  .proj-headings h3,
  .news-headings h2,
  .news-headings h3 {
    font-family: "BAHNSCHRIFT", sans-serif;
    font-size: 20px;
  }
  .proj-border img{
    width: 348px;
    height: 348px;
    padding: 10px;
    margin-top: 10px;
    align-self: center;
  }
  .stream-head h1,
  .stream-head-ost h1 {
    font-size: 40px;
  }
  /*.stream-head h1 {
    text-align: center;
    font-family: "MARKPRO-BOLD", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 3px 2px 14px #3B3B3B;
  }*/
  .stream-head-ost h1 {
    margin: 0 55px;
  }
  .ys-vinyl-head h1 {
    font-size: 50px;
    margin: 0 55px;
  }
  .music-video iframe{
    width: 512px;
    height: 288px;
    box-shadow: 0 0 7px 3px #161616;
  } 
  .article-container {
    margin: 10px 15px;
    max-height: 500px;
    display: flex;
    justify-content: center;
  }
  .news-head h1 {
    font-size: 30px;
    /*text-align: center;
    font-family: "MARKPRO-BOLD", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 3px 2px 14px #3B3B3B;*/
  }
  .news-headings h1{
    /*padding-top: 2px;*/
    font-size: 25px;
  }
  /*.news-headings h2{
    font-weight: normal;
    font-style: normal;
    margin: 2px;
  }
  .news-headings h3{
    font-weight: normal;
    font-style: normal;
    margin-top: 7px;
  }*/
  .news-border img,
  .news-border a {
    width: 350px;
    height: 350px;
    align-self: center;
  }
  .news-border img {
    padding: 10px;
  }
  .trl-title,
  .tl-title {
    color: white;
    font-size: 35px;
    text-align: center;
    text-shadow: 3px 2px 14px #3B3B3B;
  }
  .tl-title {
    font-family: "FUTURA", sans-serif;
  }
  .trl-title {
    font-family: "BAHNSCHRIFT", sans-serif;
  }
  .tracklist li,
  .tracklist-liars li {
    list-style: decimal;
    font-family: "BAHNSCHRIFT", sans-serif;
    text-align: left;
  }
  .tracklist li {
    font-size: 17px;
    padding-bottom: 2px;
  }
  .tracklist-liars li {
    font-size: 20px;
    padding: 10px 0 20px;
  }
  .top-tracklist li,
  .top-tracklist-vol2 li {
    list-style: none;
    font-family: "BAHNSCHRIFT", sans-serif;
    text-align: left;
    padding-bottom: 2px;
    font-size: 20px;
  }
  .top-tracklist-vol2 li {
    color: white;
  }
  .list-container {
    margin: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
  }
  .list-border {
    display: flex;
    flex-direction: column;
    width: 405px;
  }
  #li2022,
  #defaultTL {
    border: 3px solid white;
    box-shadow: 1px 1px 4px 4px #fff;
  }
  .yandere-title {
    font-size: 25px;
  }
  .abc-title {
    font-size: 24px;
  }
  .vol-title {
    font-size: 22px;
  }
  .vinyl-info {
    min-width: 25%;
    max-width: 45%;
  }
  .vinyl-image img {
    height: 100%;
    width: 100%;
  }
  .slideshow-container {
    width: 500px;
    height: 500px;
  }
  .vinyl-info h3{
    font-size: 30px;
  }
  .vinyl-info h2 {
    font-size: 40px;
  }
  .ys-alert-container {
    right: 10%;
    left: 10%;
  }
}
@media only screen and (min-width: 888px) and (max-width: 1063px) { /*/ Album Stuff for medium displays /*/
  .projectHead {
    margin: 7;
    padding: 5px;
  }
  .album-container {
    padding: 3% 5%;
  }
  .album {
    padding: 5px;
  }
  .album img,
  .album a,
  #slider,
  #slider a img,
  #slideCover,
  #slideCover a,
  #slideCover a img {
    width: 200px;
    height: 200px;
  }
  .albumCol#albumCap .title {
    min-width: 175px;
    min-height: 175px;
    max-width: 200px;
    max-height: 200px;
  }
  .slides {
    padding: 5px;
  }
}
@media only screen and (max-width:887px) {
  .prod-contact {
    font-size: 20px;
    padding: 10px;
  }
  .project-logo-container a {
    padding: 10px 25px;
  }
  .project-logo-container a img {
    height: auto;
    width: 350px;
  }
  .projArt{
    margin: auto;
    width: 350px;
    height: 360px;
    display: block;
  }
  .projCover {
    width: 350px;
    height: 350px;
    z-index: 20;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vinyl {
    z-index: 1;
    position: relative;
    margin: auto;
    width: 0;
    height: 0;
  }
  .vinyl img {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    right: 0;
    transform:scale(0.9) rotate(270deg);
  }
  .projCover img {
    padding: 0 10px;
    width: 330px;
    height: 330px;
    position: relative;
    transition: all .3s ease-out;
  }
  .projInfo {
    height: fit-content;
    padding-bottom: 10px;
  }
  .projTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: "MARKPRO-BOLD", sans-serif;
    text-align: center;
  }
  .projRelease {
    font-family: "BAHNSCHRIFT", sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 15px;
  }
  .proj-container {
    margin: 15px;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .proj-border {
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 3px solid white;
    box-shadow: 1px 1px 4px 4px #222;
    padding: 10px 0;
  }
  .proj-headings {
    text-align: center;
    width: 320px;
  }
  .proj-headings h1{
    text-decoration: underline;
    padding-top: 2px;
  }
  .default-projTitle {
    font-family: "facile_sansregular", sans-serif;
    color: white;
  }
  .proj-headings h2,
  .proj-headings h3 {
    font-family: "BAHNSCHRIFT", sans-serif;
    font-size: 15px;
  }
  .ugly-sub {
    font-family: "BAHNSCHRIFT", sans-serif;
    font-size: 14px;
    margin-top: -3px;
  }
  .proj-border img {
    width: 297px;
    height: 297px;
    align-self: center;
  }
  .stream-head h1 {
    /*text-align: center;
    font-family: "MARKPRO-BOLD", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 3px 2px 14px #3B3B3B;*/
    font-size: 30px;
  }
  .stream-head-ost h1,
  .ys-vinyl-head h1 {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .music-video iframe{
    width: 320px;
    height: 180px;
    box-shadow: 0 0 7px 3px #161616;
  }
  .article-container {
    margin: 10px 15px;
    display: flex;
    justify-content: center;
  }
  .news-border {
    display: flex;
    flex-direction: column;
    width: 321px;
    border: 3px solid white;
    box-shadow: 1px 1px 4px 4px #222;
  }
  .news-head {
    margin: 15px;
    height: 45px;
  }
  .news-head h1 {
    /*text-align: center;
    font-family: "MARKPRO-BOLD", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 3px 2px 14px #3B3B3B;*/
    font-size: 25px;
  }
  .news-headings h1{
    text-decoration: underline;
    padding-top: 2px;
    font-size: 25px;
  }
  .default-news-head {
    font-family: "facile_sansregular", sans-serif;
  }
  .news-headings h2,
  .news-headings h3 {
    font-family: "BAHNSCHRIFT", sans-serif;
    font-size: 15px;
  }
  .news-headings h2 {
    margin: 2px;
  }
  .news-headings h3 {
    margin-top: 7px;
  }
  .news-border img,
  .news-border a {
    width: 300px;
    align-self: center;
    height: 300px;
  }
  .news-border img {
    padding-top: 15px;
  }
  .tl-title,
  .trl-title { /* Disables Tracklist for Mobile */
    font-size: 0px;
  }
  .tracklist,
  .top-tracklist,
  .top-tracklist-vol2,
  .tracklist-liars {
    opacity: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .list-container {
    display: none;
  }
  .list-border {
    width: 0;
    border-width: 0;
    box-shadow: none;
  }
  .yandere-title,
  .abc-title {
    font-size: 20px;
  }
  .vol-title {
    font-size: 19px;
  }
  .ys-alert-container {
    right: 5%;
    left: 5%;
  }
  .vinyl-image img {
    width: 100%;
  }
  .slideshow-container {
    width: 300px;
    height: 300px;
  }
  .vinyl-info h3 {
    padding-top: 10px;
    font-size: 15px;
  }
  .vinyl-info h2 {
    font-size: 20px;
  }
  .vinyl-info p {
    font-size: 10px;
  }
  .vinyl-info {
    max-width: 45%;
  }
}
@media only screen and (min-width: 551px) and (max-width: 887px) { /*/ Album Stuff for smalldisplays /*/
  .projectHead {
    padding: 5px;
  }
  .album-container {
    padding: 3% 5%;
  }
  .album {
    padding: 5px;
  }
  .album img,
  .album a,
  #slider,
  #slider a img,
  #slideCover,
  #slideCover a,
  #slideCover a img {
    width: 175px;
    height: 175px;
  }
  .albumCol#albumCap {
    border-color: black;
  }
  .albumCol#albumCap .title {
    min-width: 174px;
    min-height: 174px;
    max-width: 175px;
    max-height: 175px;
  }
  .slides {
    padding: 5px;
  }
}
@media only screen and (max-width: 550px){ /*/ Album Stuff for even smaller displays /*/
  .album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2% 3%;
  }
  .album {
    padding: 2.5px;
  }
  .album img,
  .album a,
  #slider,
  #slider a img,
  #slideCover,
  #slideCover a,
  #slideCover a img {
    width: 100px;
    height: 100px;
  }
  .albumCol#albumCap {
    border-color: black;
  }
  .albumCol#albumCap .title {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
  }
  .slides {
    padding: 2.5px;
  }
  #slideCover a img:hover {
    opacity: 0.2;
  }
  #slideCover a:hover {
    box-shadow: 0 0 15px 3px #333;
  }
}