* {
  text-decoration: none;
}
/*/ Music Page /*/

.music-body {
  background: var(--background-secondary);
}
.music-page-select {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 5%;
  background: var(--background-primary);
}
.produced-it {
  width: 400px;
  height: 320px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.produced-img {
  width: 350px;
  border: 3px solid#222222;
  overflow: hidden;
  display: flex;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-box-shadow: rgba(194, 194, 194, 0.8) 0px 0 0px;
  -moz-box-shadow: rgba(194, 194, 194, 0.8) 0px 0 0px;
  box-shadow: rgba(194, 194, 194, 0.8) 0px 0 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.produced-img:hover {
  border-radius: 20px;
  -webkit-box-shadow: rgba(194, 194, 194, 0.8) 0px 0 10px;
  -moz-box-shadow: rgba(194, 194, 194, 0.8) 0 0 10px;
  box-shadow: rgba(194, 194, 194, 0.8) 0 0 10px;
}
.artist-305 {
  width: 400px;
  height: 320px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.music-text-box {
  height: fit-content;
  height: 40px;
  width: 444px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.music-text-box p {
  text-align: center;
  color:var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
}

/* Produced Section */

.producedHead {
  font-family: "MARKPRO-BOLD";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
.producedHead h3 {
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-size: 20px;
}
.prod-contact p{
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
}
.prod-contact p a{
  color: var(--link-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: none;
}
.prod-contact p a:hover{
  color: var(--link-secondary);
  text-shadow: 1px 1px 10px var(--shadow-primary);
  text-decoration: underline;
}
.project-logo-container {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.demo-reel {
  padding: 15px;
  height: fit-content;
}
.demo-text h2{
  font-family: "MARKPRO-BOLD";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-size: 35px;
  padding: 10px;
}
.demo-audio {
  justify-content: center;
  display: flex;
  align-items: center;
}

@media only screen and (min-width:888px) {

  .prod-contact {
    font-size: 20px;
    padding: 10px;
  }
  .project-logo-container a {
    height: fit-content;
    padding: 10px 25px;
  }
  
  .project-logo-container a img{
    width: auto;
    height: 200px;
  }
}

@media only screen and (max-width:887px) {
  .prod-contact {
    font-size: 20px;
    padding: 10px;
  }
  .project-logo-container a {
    height: fit-content;
    padding: 10px 25px;
  }
  
  .project-logo-container a img{
    height: auto;
    width: 350px;
  }
}

/* Artist Section */

#artist305 {
  background: var(--background-secondary);
}
.projectHead {
  font-family: "MARKPRO-BOLD";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-size: 30px;
}
.art-vid-head {
  font-family: "MARKPRO-BOLD";
  color: var(--color-primary);
  text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  text-align: center;
  font-size: 30px;
  padding: 5px;
}
.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*/ Album Title Reveal /*/
.albumCol#albumCap {
  position: relative;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .img {
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .title {
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
	z-index: 10;
  opacity: 0;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  align-items: center;
  vertical-align: middle;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap .title h1{
  margin: 0;		
  color: white;
  text-align: center;
  transition: all .3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.albumCol#albumCap img {
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
 -webkit-filter: blur(0)hue-rotate(0deg)grayscale(0%);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623);
}
.albumCol#albumCap:hover .title, .albumCol#albumCap:active .title{
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  opacity: 1;
}

.albumCol#albumCap:hover img, .albumCol#albumCap:active img{
  transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  /*/I'd like to do a nice gradient overlay that swipes up, but I can take care of that once the website is done, first it needs to fully function/*/
 -webkit-filter: blur(3px)hue-rotate(10deg)grayscale(25%);
  box-shadow: 0 0 15px 3px #cecece;
}
#slider a {
  position:absolute;
}
#slider a:nth-of-type(1) {
  animation-name: slideFade;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}
#slider a:nth-of-type(2) {
  z-index: 10;
}
#slider a:nth-of-type(n+3) {
  display: none;
}
@keyframes slideFade {
  from{opacity: 1.0;}
  to{opacity: 0.0;}
}
#slideCover {
  position: absolute;
  z-index: 30;
  opacity: 100%;
  transition:opacity 0.4s ease-out;
  -moz-transition:opacity 0.4s ease-out;
  -webkit-transition:opacity 0.4s ease-out;
}
#slideCover a {
  position:absolute;
  transition:all 0.4s ease-out;
  -moz-transition:all 0.4s ease-out;
  -webkit-transition:all 0.4s ease-out;
}
#slideCover a img {
  opacity: 100%;
  transition:all 0.4s ease-out;
  -moz-transition:all 0.4s ease-out;
  -webkit-transition:all 0.4s ease-out;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623);
}
#slideCover a img:hover {
  opacity: 20%;
  transition:opacity 0.4s ease-in-out;
  -moz-transition:opacity 0.4s ease-in-out;
  -webkit-transition:opacity 0.4s ease-in-out;
}
#slideCover a:hover {
  box-shadow: 0 0 15px 3px #cecece;
  transition:box-shadow 0.4s ease-in-out;
  -moz-transition:box-shadow 0.4s ease-in-out;
  -webkit-transition:box-shadow 0.4s ease-in-out;
}

/* Artist stuff */
@media only screen and (min-width:888px) {
  #artist305 {
    padding: 10px 50px;
  }
  .projectHead {
    margin: 10;
    padding: 10px;
  }
  .album-container {
    padding: 5px 5px;
  }
  .album{
    padding: 10px 10px;
  }
  .album img {
    width: 250px;
    height: 250px;
    display: block;
  }
  
  /*/ Album Title Reveal /*/

  .albumCol#albumCap .title {
    margin: auto auto;
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;				
  }
  .album a {
    width: 250px;
    height:250px;
  }

  /*/ Slideshow /*/
  #slider {
    width: 250px;
    height: 250px;
    position: relative;
  }
  #slider a img {
    width: 250px;
    height: 250px;
  }

  /*/ Reveal Slideshow on Hover /*/
  .slides {
    padding: 10px 10px;
  }
  #slideCover {
    width: 250px;
    height: 250px;
  }
  #slideCover a {
    width: 250px;
    height: 250px;
  }
  #slideCover a img {
    width: 250px;
    height: 250px;
  }

  /*/ Smaller Albums for bigger screens /*/

  @media only screen and (max-width: 1063px){
    .projectHead {
      margin: 7;
      padding: 5px;
    }
    .album-container {
      padding: 3% 5%;
    }
    .album{
      padding: 5px 5px;
    }
    .album img {
      width: 200px;
      height: 200px;
      display: block;
    }
  
    /*/ Album Title Reveal /*/
  
    .albumCol#albumCap .title {
      min-width: 175px;
      min-height: 175px;
      max-width: 200px;
      max-height: 200px;				
    }
    .album a {
      width: 200px;
      height:200px;
    }
  
    /*/ Slideshow /*/
    #slider {
      width: 200px;
      height: 200px;
      position: relative;
    }

    #slider a img {
      width: 200px;
      height: 200px;
    }
  
    /*/ Reveal Slideshow on Hover /*/
    .slides {
      padding: 5px 5px;
    }
    #slideCover {
      width: 200px;
      height: 200px;
    }
    #slideCover a {
      width: 200px;
      height: 200px;
    }
    #slideCover a img {
      width: 200px;
      height: 200px;
    }
  
  }
}
@media only screen and (max-width: 887px) and (min-width:551px){
  .projectHead {
    padding: 5px;
  }
  .album-container {
    padding: 3% 5%;
  }
  .album{
    padding: 5px 5px;
  }
  .album img {
    width: 175px;
    height: 175px;
    display: block;
  }

  /*/ Album Title Reveal /*/

  .albumCol#albumCap {
    border-color: black;
  }

  .albumCol#albumCap .title {
    min-width: 174px;
    min-height: 174px;
    max-width: 175px;
    max-height: 175px;				
  }
  .album a {
    width: 175px;
    height:175px;
  }

  /*/ Slideshow /*/
  #slider {
    width: 175px;
    height: 175px;
    position: relative;
    
  }
  #slider a img {
    width: 175px;
    height: 175px;
  }

  /*/ Reveal Slideshow on Hover /*/
  .slides {
    padding: 5px 5px;
  }
  #slideCover {
    width: 175px;
    height: 175px;
  }
  #slideCover a {
    width: 175px;
    height: 175px;
  }
  #slideCover a img {
    width: 175px;
    height: 175px;
  }
}
/*/ Album Stuff for even smaller displays /*/
@media only screen and (max-width: 550px){
  .album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2% 3%;
  }
  .album{
    padding: 2.5px 2.5px;
  }
  .album img {
    width: 100px;
    height: 100px;
    display: block;
  }

  /*/ Album Title Reveal /*/

  .albumCol#albumCap {
    border-color: black;
  }

  .albumCol#albumCap .title {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;				
  }
  .album a {
    width: 100px;
    height:100px;
  }

  /*/ Slideshow /*/
  #slider {
    width: 100px;
    height: 100px;
    position: relative;
    
  }
  #slider a {
    position:absolute;
  }
  #slider a img {
    width: 100px;
    height: 100px;
  }
  #slider a:nth-of-type(1) {
    animation-name: slideFade;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #slider a:nth-of-type(2) {
    z-index: 10;
  }
  #slider a:nth-of-type(n+3) {
    display: none;
  }
  @keyframes slideFade {
    from{opacity: 1.0;}
    to{opacity: 0.0;}
  }

  /*/ Reveal Slideshow on Hover /*/
  .slides {
    padding: 2.5px 2.5px;
  }
  #slideCover {
    width: 100px;
    height: 100px;
  }
  #slideCover a {
    width: 100px;
    height: 100px;
  }
  #slideCover a img {
    width: 100px;
    height: 100px;
  }
  #slideCover a img:hover {
    opacity: 20%;
    transition:all 0.4s ease-in;
  }
  #slideCover a:hover {
    box-shadow: 0 0 15px 3px #333333;
    transition:all 0.4s ease-in;
  }
}

/*/ Footer for Albums/Songs /*/
.musFooter {
    background-color: black;
    padding: 10px;
    text-align: center;
    margin-bottom: auto;
    width: 100%;
}

.musFDiv{
    width: 60%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3px;
    margin-bottom: 6px;
}

#footerMus a p{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: white;
    text-align: center;
}

/*/ Projects Page /*/ 
  .projHead {
    background: var(--background-primary);
  }
  
  .projHead p {
    text-align: center;
    padding: 0 0 15px;
    color: var(--color-primary);
    text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
  }

  .proj-head-div {
    margin-bottom: 15px;
  }
  
  .albumContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .projRelease
  {
    color: var(--release-text-primary);
  }

  @media only screen and (min-width: 888px) {
    .albumContainer {
      margin: auto 3%;
    }
    .albumElement{
      display: block;
      max-height: 600px;
      max-width: 560px;
      align-items: center;
      justify-content: start;
      margin: 15px 7px;
    }
    .projArt{
      margin: auto 15px;
      width: 520px;
      height: 520px;
      display: flex;
    }
    .projCover {
      width: 520px;
      height: 520px;
      z-index: 20;
      margin: auto auto;
      position: absolute;
      align-items: center;
      justify-content: center;
    }
    .vinyl {
        z-index: 1;
        position: relative;
        margin: auto;
        width: 520px;
        height: 520px;
    }
    .vinyl img {
      width: 100%;
      height: 100%;
      padding: 5% 5%;
      position: absolute;
      right: 0px;
      transform:scale(0.9) rotate(270deg);
      transition: all .3s ease-out;
      -moz-transition:all 0.3s ease-out;
      -webkit-transition:all 0.3s ease-out;
    }
    .projCover img {
        padding: 5px 5px;
      width: 510px;
      height: 510px;
      position: relative;
      right: 0px;
      transition: all .3s ease-out;
      -moz-transition:all 0.3s ease-out;
      -webkit-transition:all 0.3s ease-out;
  
    }
    .projInfo {
      width: 100%;
      height: 50px;
      padding-bottom: 10px;
      display: block;
    }
    .projTitle {
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-family: "MARKPRO-BOLD";
      text-align: center;
    }
    .projRelease {
      font-family: "BAHNSCHRIFT";
      text-align: center;
      padding: 5px 5px;
      font-size: 15px;
    }
  
    /*/ Record Spin on Hover /*/
  .projArt a:hover .projCover img {
      right: 15px;
      margin-left: -15%;
      transform:scale(0.8);
      transition:all 0.4s ease-in-out;
      -moz-transition:all 0.4s ease-in-out;
      -webkit-transition:all 0.4s ease-in-out;
  }
  
  .projArt a:hover .vinyl img {
      margin-right: -23%;
      transform: scale(0.77) rotate(5deg);
      transition:all 0.4s ease-in-out;
      -moz-transition:all 0.4s ease-in-out;
      -webkit-transition:all 0.4s ease-in-out;
  }
  }
  .news-headings {
    text-align: center;
  }
/*/ Mobile Optimizations /*/
@media only screen and (max-width: 887px) {
  .projArt{
    margin: auto;
    width: 350px;
    height: 360px;
    display: block;
  }
  .projCover {
    width: 350px;
    height: 350px;
    z-index: 20;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .vinyl {
    z-index: 1;
    position: relative;
    margin: auto;
    width: 0px;
    height: 0px;
  }
  .vinyl img {
    width: 0%;
    height: 0%;
    position: absolute;
    opacity: 0;
    right: 0px;
    transform:scale(0.9) rotate(270deg);
  }
  .projCover img {
    padding: 0 10px;
    width: 330px;
    height: 330px;
    align-self: center;
    justify-self: center;
    position: relative;
    transition: all .3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -webkit-transition:all 0.3s ease-out;

  }
  .projInfo {
    height: fit-content;
    padding-bottom: 10px;
    display: block;
  }
  .projTitle {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: "MARKPRO-BOLD";
    text-align: center;
  }
  .projRelease {
    font-family: "BAHNSCHRIFT";
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
  }

}
/* will complete when page is 100% */

/*/ So all the items load in by fading instead of just popping into existence /*/

.albumElement {
    opacity: 0;
    transition: 0.3s opacity;
}

/*/---Song Pages---/*/

/* General */

.proj-headings h1 {
  color: white;
}
.proj-headings h2 {
  color: rgb(216, 216, 216);
}
.proj-headings h3 {
  color: rgb(53, 53, 53);
}
.news-headings h1 {
  color: white;
}
.news-headings h2 {
  color: rgb(216, 216, 216);
}
.news-headings h3 {
  color: rgb(53, 53, 53);
}

@media only screen and (min-width: 888px) {
  .proj-container {
    display: flex;
    justify-content: center;
}
.proj-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 375px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 4px 4px #222222;
}
.proj-headings {
  text-align: center;
  width: 375px;
}
#trackHead {
  width:405px;
}
#trackHead ul{
  padding-left: 30px;
  width: 395px;
}
.proj-headings h1{
  text-decoration: underline;
}
.default-projTitle {
  font-family: "facile_sansregular";
  font-weight: normal;
  font-style: normal;
}
.proj-headings h2{
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}
.proj-headings h3{
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.proj-border img{
    width: 348px;
    align-self: center;
    height: 348px;
    padding: 10px;
    margin-top: 10px;
}
.stream-head h1 {
  text-align: center;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 40px;
  text-shadow: 3px 2px 14px #3B3B3B;
}
.stream-head-ost h1 {
  font-size: 40px;
  margin-left: 55px;
  margin-right: 55px;
}
.ys-vinyl-head h1 {
  font-size: 50px;
  margin-left: 55px;
  margin-right: 55px;
}
.music-video iframe{
  width: 512px;
  height: 288px;
  box-shadow: 0 0 7px 3px #161616;
} 
.article-container {
  margin: 10px 15px;
  max-height: 500px;
  display: flex;
  justify-content: center;
}
.news-head {
  margin: 10px 15px 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-head h1 {
  text-align: center;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 30px;
  text-shadow: 3px 2px 14px #3B3B3B;
}
.news-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 375px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 4px 4px #222222;
}
.news-headings h1{
  text-decoration: underline;
  padding-top: 2px;
  font-size: 25px;
}
.default-news-head {
  font-family: "facile_sansregular";
  font-weight: normal;
  font-style: normal;
}
  .news-headings h2{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    margin: 2px;
    font-size: 20px;
  }
  .news-headings h3{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top: 7px;
  }

  .news-border img{
      width: 350px;
      align-self: center;
      height: 350px;
      padding: 10px;
  }
  .news-border a{
    width: 350px;
    align-self: center;
    height: 350px;
  }
}


.proj-div {
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 1px 1px 1px 1px snow;
}


.stream-head {
  margin: 37px 15px 25px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsp-container {
  margin: 0 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dsp-column {
  margin: 0 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.dsp-element a {
  margin: 15px;
  width: 330px;
  height: 80px;
  background-color: #dbdbdb;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-color: #7c7c7c;
  border-radius: 5px;
  border-style: solid;
  position: relative;
  transition:box-shadow 0.3s ease-in-out;
}
.dsp-element a img {
  width: 125px;
  height: 40px;
  display: flex;
  margin: 0 15px;
  justify-self: left;
}
.dsp-button {
  display: block;
  align-items: right;
  padding: 3px 6px;
  margin-right: 15px;
  margin-left: 80px;
  height: auto;
  width: auto;
  max-height: 60px;
  background-color: rgb(201, 201, 201);
  text-align: center;
  font-size: 20px;
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  transition: 0.3s;
  border-radius: 5px;
  float: right;
  color: rgb(73, 73, 73);
}
.dsp-button-pre {
  display: block;
  align-items: right;
  padding: 3px 5px;
  margin-right: 10px;
  margin-left: 65px;
  height: auto;
  width: auto;
  max-height: 60px;
  background-color: rgb(201, 201, 201);
  text-align: center;
  font-size: 18px;
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  transition: 0.3s;
  border-radius: 5px;
  float: right;
  color: rgb(73, 73, 73);
}
.mv-head {
  margin: 10px 15px 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mv-head h1 {
  text-align: center;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 30px;
  text-shadow: 3px 2px 14px #3B3B3B;
}


.dsp-element a:hover {
  box-shadow: transparent;
  box-shadow: 0 7px 7px rgba(43, 43, 43, 0.4);
}

.dsp-button:hover {
  background-color: #181818;
  color: whitesmoke;
}
.dsp-button-pre:hover {
  background-color: #181818;
  color: whitesmoke;
}

.video-container {
  margin: 0 20px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.music-video {
  padding: 15px;
}

@media only screen and (max-width: 887px) {
  .proj-container {
    margin: 15px 15px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.proj-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 4px 4px #222222;
}
.proj-headings {
  text-align: center;
  width: 320px;
  height: 60px;
}
.proj-headings h1{
  text-decoration: underline;
  padding-top: 2px;
}
.default-projTitle {
  font-family: "facile_sansregular";
  font-weight: normal;
  font-style: normal;
  color: white;
}
.proj-headings h2{
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}
.ugly-sub{
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  margin-top: -3px;
}
.proj-headings h3{
  font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}
.proj-border img{
    width: 297px;
    align-self: center;
    height: 297px;
}
.stream-head h1 {
  text-align: center;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 30px;
  text-shadow: 3px 2px 14px #3B3B3B;
}
.stream-head-ost h1 {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
.ys-vinyl-head h1 {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
  .music-video iframe{
    width: 320px;
    height: 180px;
    box-shadow: 0 0 7px 3px #161616;
  }
  .article-container {
    margin: 10px 15px;
    display: flex;
    justify-content: center;
}
.news-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 321px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 4px 4px #222222;
}
.news-head {
  margin: 15px 15px 15px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-head h1 {
  text-align: center;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-shadow: 3px 2px 14px #3B3B3B;
}

.news-headings h1{
  text-decoration: underline;
  padding-top: 2px;
  font-size: 25px;
}
.default-news-head {
  font-family: "facile_sansregular";
  font-weight: normal;
  font-style: normal;
}
  .news-headings h2{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    margin: 2px;
    font-size: 15px;
  }
  .news-headings h3{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    margin-top: 7px;
  }

  .news-border img{
      width: 300px;
      align-self: center;
      height: 300px;
      padding-top: 15px;
  }
  .news-border a{
    width: 300px;
    align-self: center;
    height: 300px;
  }
}


.album-head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 20px 0 20px;
}
.news-container {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
@media only screen and (min-width: 888px){
  .tl-title {
    font-family: "FUTURA";
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 35px;
  text-align: center;
  text-shadow: 3px 2px 14px #3B3B3B;
  }
  .trl-title {
    font-family: "BAHNSCHRIFT";
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 35px;
  text-align: center;
  text-shadow: 3px 2px 14px #3B3B3B;
  }
  
  .tracklist li{
    list-style: decimal;
    font-family: "BAHNSCHRIFT";
    text-align: left;
    font-size: 17px;
    padding-bottom: 2px;
  }
  .top-tracklist li{
    list-style: none;
    font-family: "BAHNSCHRIFT";
    text-align: left;
    padding-bottom: 2px;
    font-size: 20px;
  }
  .top-tracklist-vol2 li{
    list-style: none;
    font-family: "BAHNSCHRIFT";
    text-align: left;
    padding-bottom: 2px;
    color: white;
    font-size: 20px;
  }
  .list-container {
    margin: 15px 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    
  }
  .list-border {
    display: flex;
    flex-direction: column;
    width: 405px;
  }
  #li2022 {
    border-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 4px 4px #ffffff;
  }
  .tracklist-liars li{
    list-style: decimal;
    font-family: "BAHNSCHRIFT";
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  #defaultTL {
    border-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 4px 4px #ffffff;
  }
}
/* Disables Tracklist for Mobile */
@media only screen and (max-width: 887px){
  .tl-title {
    font-family: "FUTURA";
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 0px;
  }
  .trl-title {
    font-family: "FUTURA";
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 0px;
  }
  .tracklist {
    opacity: 0;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 0px;
  }
  .top-tracklist {
    opacity: 0;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 0px;
  }
  .top-tracklist-vol2 {
    opacity: 0;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 0px;
  }
  .list-container {
    margin: 0px 0px;
    height: 0px;
    display: flex;
    justify-content: center;
  }
  .list-border {
    display: flex;
    justify-content: center;
    width: 0px;
    border-width: 0px;
    box-shadow: 0px 0px 0px 0px #222222;
  }
  .tracklist-liars {
    opacity: 0;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 0px;
  }
}


/* UGLY */
.ugly {
    background-color: #444444;
    color: white;
}
.uglyTitle {
  font-family: "AssassinNinja";
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 35px;
}

/* Vaporwave */
.vaporwave {
  background-color: #c7479c;
  color: white;
}

.vaporwave-projTitle {
  font-family: "facile_sansregular";
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 17px;
  margin-top: 5px;
  padding-bottom: 7x;
}

/* General Yandere */

.yandere-proj {
  background-color: #e96ec0;
}
.schoolday-proj {
  background-color: #ff76d1;
}
@media only screen and (min-width:887px){
  .yandere-title {
    font-size: 25px;
  }
  .abc-title {
    font-size: 24px;
  }
  .vol-title {
    font-size: 22px;
  }
}
@media only screen and (max-width:888px){
  .yandere-title {
    font-size: 20px;
  }
  .abc-title {
    font-size: 20px;
  }
  .vol-title {
    font-size: 19px;
  }
}
.yandere-title {
  font-family: "FUTURA";
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow: 3px 2px 14px #3B3B3B;
}
.abc-title {
  font-family: "FUTURA";
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow: 3px 2px 14px #3B3B3B;
}

/* OST */

.stream-head-ost {
  margin: 35px 0 25px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stream-head-ost h1 {
  text-align: center;
  font-family: "MARKPRO-BOLD";
  font-weight: bold;
  font-style: normal;
  color: white;
  text-shadow: 3px 2px 14px #3B3B3B;
}
.ys-vinyl-head {
  align-items: center;
  justify-content: center;
}

.ys-vinyl-head h1 {
  text-align: center;
  font-family: "FUTURA";
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow: 3px 2px 14px #9999996b;
}
.vol-title {
  font-family: "FUTURA";
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow: 3px 2px 14px #3B3B3B;
}

/* ABC Killer */

.abc-body {
  background-color: #3B3B3B;
}

/* OST 2021 */

.ost-vol1 {
  background-color: #65c9e7;
}
.volume-1 {
  background-color: #65c9e7;
}
.volume-2 {
  background-color: #b60000;
}
.vol-div {
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  width: 100%;
  margin: 30px 0 15px;
  box-shadow: 1px 1px 1px 1px snow;
}

/* Delinquent Theme */

.deli-body {
  background-color: #380000;
}

.deli-body h3 {
  color: #cecece;
}
.deli-body h1 {
  text-shadow: 3px 2px 14px #ff0000;
}

/* OST 2022 */

.ost2022-body {
  background-color: #ffa9ea;
}

.ost2022-body h3 {
  color: #535353;
}
.ost2022-body h1 {
  text-shadow: 3px 2px 14px #3a3a3a;
}

.ysfinal-body {
  background-color: #ffa4c7;
}

.ysfinal-body h3 {
  color: #535353;
}
.ysfinal-body h1 {
  text-shadow: 3px 2px 14px #3a3a3a;
}

/* UNDERSTAND ME */
.unders {
  background-color: #444444;
  color: white;
}
.undersTitle {
font-family: "VINYL";
font-weight: normal;
font-style: normal;
color: white;
font-size: 35px;
padding-bottom: 3px;
}

/* Yandere Sim Notice */
.ys-alert-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  opacity: 1;
  max-width: 1250px;
  align-items: center;
}

.ys-alert {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 5px;
  width: 98%;
  opacity: 1;
  transition: all 0.9s;
  background-color: var(--alertbck-primary);
  box-shadow: 1px 1px 30px 1px var(--alertshadow-primary);
}

.ys-alert-icon {
  display: flex;
  align-items: center;
  font-size: 25px;
  opacity: 1;
  transition: opacity 0.2s;
}

.ys-alert-text {
  margin-left: 1em;
  font-size: 25px;
  opacity: 1;
  transition: opacity 0.2s;
  font-weight: 300;
  font-family: "FUTURA";
  color: var(--alerttext-primary);
  text-shadow: 1px 1px 20px var(--alerttextshadow-primary);
}
.ys-alert-text a1{
  font-weight: 500;
  font-family: "MARKPRO-BOLD";
  text-decoration: underline;
}

.ys-alert-text a{
  text-decoration: none;
  color: var(--alertlink-primary);
}

.ys-alert-text a:hover{
  text-decoration: underline;
  color: var(--alertlink-secondary);
}

.ys-alert-closebtn {
  float: right;
  padding-left: 29%;
  font-weight: bold;
  font-size: 25px;
  background: none;
  border: none;
  color: var(--alerttext-primary);
  cursor: pointer;
}


/* shop vinyl */
.vinyl-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ys-vinyl-promo{
  margin: 0;
  background-color: #9b536e;
  padding: 20px;
  background-image: url("../shop/vinyl/AlbumCoverAllSides.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.vinyl-info p{
  text-shadow: 0px 0px 9px #000000;
}

.vinyl-info h3{
  font-family: "FUTURA";
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-shadow: 0px 0px 15px #000000;
  padding: 0;
  margin: 0;
}
.vinyl-info h2{
  font-family: "FUTURA";
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-shadow: 0px 0px 15px #000000;
  padding: 0;
  margin: 0;
}
.vinyl-info emphasis{
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
.vinyl-info button
{
  background-color: rgb(255, 121, 204);
  color: white;
  border-radius: 12px;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.vinyl-info button a
{
  background-color: rgb(255, 121, 204);
  font-family: "FUTURA";
  font-size: 22px;
  color: white;
  border-radius: 12px;
  border: none;
  text-align: center;
  padding: 15px 32px;
  display: inline-block;
  cursor: pointer;
}

.vinyl-info button:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.vinyl-info button a:hover
{
  text-shadow: 0px 0px 15px #ffffff;
}
.slideshow-container {
  position: relative;
}

#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}

@media only screen and (min-width: 888px){
  

.vinyl-info {
  min-width: 25%;
  max-width: 45%;
}
  .vinyl-image img {
    height: 100%;
    width: 100%;
  }
  .slideshow-container {
    width: 500px;
    height: 500px;
  }
  .vinyl-info h3{
    font-size: 30px;
  }
  .vinyl-info h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 887px){
  
  .vinyl-image img {
    width: 100%;
  }
  .slideshow-container {
    width: 300px;
    height: 300px;
  }
  .vinyl-info h3{
    padding-top: 10px;
    font-size: 15px;
  }
  .vinyl-info h2 {
    font-size: 20px;
  }
  .vinyl-info p {
    font-size: 10px;
  }
  .vinyl-info{
    max-width: 45%;
  }
}