header{
  background-color: black;
}

#navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  list-style: none;
}

.navbar{
  top: 0px;
  padding: 0 24px;
  min-height: 70px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  background-color: black;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navlogo {
    transition: opacity 0.3s ease-in-out;
  }
  .navlogo img {
    transition: all 0.3s ease-in-out;
  }
.navbar ul li a {
  font-family: "facile_sansregular";
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
}
.nav-branding{
  font-size: 2rem;
}
.btn{
  background-color: rgb(0, 0, 0);
  color: black;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #5c5c5c;
  color: white;
}
.activebtn {
  background-color: rgb(31,31,31);
  color: black;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}
.activebtn:hover {
  background-color: #5c5c5c;
  color: white;
}
.navbar ul li a:hover {
    background-color: white;
    color: black;
  }
    
.navbar ul li a.active {
  background-color: rgb(31,31,31);
  color: white;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.simple-nav{
  top: 0px;
  padding: 0 24px;
  min-height: 70px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  background-color: black;
}
.content {
    padding-top: 70px;
  }
@media only screen and (min-width: 888px){
  .navbar {
    float: none;
    width: 100%;
    min-width: 887px;
    max-width: auto;
    -webkit-justify-content: center;
    justify-content: center;
  }  
 .nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
  }
  
  .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar ul li a {
    float: left;
    display: block;
    color: white;
    margin: 5px;
    padding: 15px 20px;
  }
  .btn {
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
  }
  .activebtn {
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
  }
}
@media only screen and (max-width: 887px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }
  .btn {
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
  }
  .activebtn {
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
  }

}

@media only screen and (min-width: 1106px){
  #navlogo {
    position: absolute;
  }
  .navlogo {
    width: 206px;
    height: 65.333px;
    display: inline-block;
    max-block-size: 100% 70px;
    max-height: 68px;
    margin: 0 20px;
  }
  .navlogo img {
    position: absolute;
    display: block;
    float: left;
    width: 206px;
    height: 65.333px;
  }
}

@media only screen and (max-width: 1105px) {
  .navlogo{
    width: 0px;
    height: 0px;
    padding: 0px 0px;
    margin: 0px 0px;
    opacity: 0;
  }
  .navlogo img {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

#sNavLogo {
  position: absolute;
}

.s-navlogo {
  width: 206px;
  height: 65.333px;
  display: inline-block;
  max-height: 68px;
}
.s-navlogo img {
  position: absolute;
  display: block;
  width: 206px;
  height: 65.333px;
}

@font-face {
  font-family: "facile_sansregular";
  src: url("fonts/facile_sans-webfont.woff") format("woff"),
  url("/fonts/facile_sans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

