#navbar {
  overflow: hidden;
  background-color: black;
  float: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#navbar li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "facile_sansregular";
  src: url("fonts/facile_sans-webfont.woff") format("woff"),
  url("/fonts/facile_sans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

#navbar ul li a {
  float: left;
  font-family: "facile_sansregular";
  font-weight: normal;
  font-style: normal;
  display: block;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  #navbar ul li a {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
 }
}

#navbar ul li a:hover {
  background-color: white;
  color: black;
}

#navbar ul li a.active {
  background-color: rgb(31,31,31);
  color: white;
}
.btn {
 background-color: rgb(0, 0, 0);
  border: none;
  color: black;
 padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
background-color: #5c5c5c;
color: white;
  }
  .activebtn {
background-color: rgb(31,31,31);
  border: none;
  color: black;
 padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.activebtn:hover {
background-color: #5c5c5c;
color: white;
  }

.content {
  padding: 16px;
  margin: auto auto 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
section.headwtext {
  height: 1275px;
}

@-webkit-keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
