* {
    text-decoration: none;
  }
  /*/ Shop Heading /*/
  
.shop-body {
    background-color: #ffffff;
}
.shop-header {
    background-color: #636363;
    padding: 20px 10px;
    max-width: auto;
}
.shop-header h1 {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    font-family: "MARKPRO-BOLD";
    color: white;
    text-shadow: 1px 1px 10px black, -1px -1px 10px black;
    text-align: center;
}
.shop-header h2 {
    text-decoration: none;
    font-size: 20px;
    font-family: "BAHNSCHRIFT";
    color: white;
    text-shadow: 1px 1px 10px black, -1px -1px 10px black;
    text-align: center;
}
.shop-countdown-head {
    background: #8f8f8f;
    display: grid;
    min-height: 100%;
}
.head-countdown-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 90px;
}
#hatTimer h1{
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top :10px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}
#hatTimer {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "BAHNSCHRIFT";
    font-size: 10px;
    letter-spacing: 3px;
    margin: 10px 0;
}
.days, .hours, .minutes, .seconds {
    display: inline-block;
    text-align: center;
    padding: 15px 9px;
    width: 80px;
    margin: 0 5px;
    border-radius: 5px;
    background: #5e0000;
    box-shadow: 0 0 7px 1px #252525;
  }
  .numbers {
      font-size: 25px;
      color: #ffffff;
      font-family: "MARKPRO-BOLD";
      font-weight: bold;
  }

  /*/ Shop Content /*/

  #merch1 {
    text-align: center;
    margin: 25px 0;
  }
  #merch1 h2 {
    text-decoration: underline;
    font-size: 35px;
    font-weight: bold;
    font-family: "MARKPRO-BOLD";
    color: black;
    text-shadow: 1px 1px 10px rgb(255, 255, 255), -1px -1px 10px rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    padding-top: 0px;
  }
  #merch1 .products-section-desc {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: "BAHNSCHRIFT";
    color: rgb(94, 94, 94);
    text-align: center;
    padding: 15px;
  }
  .product-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 10px 50px;
      margin-top: 0px;
  }
  #merch1 .product {
      width: 30%;
      min-width: 250px;
      max-width: 450px;
      padding: 10px 15px;
      border: 1px solid #f5deb4;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.02);
      margin: 25px 50px;
      margin-bottom: 10px;
      transition: 0.3s ease;
      position: relative;
  }

  #merch1 .product:hover{
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.08);
  }

  #merch1 .product img {
      width: 100%;
      min-width: 100px;
      border-radius: 20px;
  }

  #merch1 .product .desc {
    width: 100%;
    text-align: start;
    padding: 10px 0;
  }
  #merch1 .product .desc span {
    color: #616161;
    font-size: 14px;
    font-family: "BAHNSCHRIFT";
  }
  #merch1 .product .desc h5 {
    padding-top: 5px;
    font-family: "MARKPRO-BOLD";
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
  }
  #merch1 .product .desc h6 {
    padding-top: 5px;
    font-family: "MARKPRO-BOLD";
    font-weight: normal;
    color: rgb(70, 70, 70);
    font-size: 15px;
  }
  #merch1 .product .desc h4 {
    padding-top: 7px;
    font-family: "THEBOLDFONT";
    font-weight: bold;
    font-size: 20px;
    color: #088178;
  }

  #merch1 .product .add-cart {
      font-size: 25px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #daffe2;
      border-radius: 50px;
      font-weight: 500;
      color: #088178;
      position: absolute;
      border: solid 1px #f0f0f0;
      bottom: 20px;
      right: 15px;
      transition: all 0.3s ease-in-out;
  }

    #merch1 .product .add-cart:hover {
        background-color: #dee9e1;
        color: #0db34c;
    }

  /*/ Navbar Changes /*/

  .navcart {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    width: fit-content;
    position: absolute;
    display: inline-block;
    right: 30px;
  }

  #cartIcon {
    padding: 10px 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
  }

  #cartIcon:hover .bi-cart,
  #cartIcon .bi-cart-fill {
      display: none;
  }
  #cartIcon:hover .bi-cart-fill {
      display: inline;
  }
  .bi-cart-fill {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .bi-cart {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  /*/ Animations/Sleek Design /*/
