.video-body {
  background: var(--background-primary);
  }

.video-container {
  margin: 0 20px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.video {
  padding: 15px;
} 
@media only screen and (min-width:888px) {
    .video iframe{
        width: 512px;
        height: 288px;
        box-shadow: 0 0 7px 3px #161616;
    }
}

@media only screen and (max-width:887px) {
    .video iframe{
        width: 320px;
        height: 180px;
        box-shadow: 0 0 7px 3px #161616;
      }
}
.video-heading {
    font-family: "MARKPRO-BOLD";
    color: var(--color-primary);
    text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
    text-align: center;
    font-size: 25px;
    padding: 5px;
}
.video-heading h3 {
    color: var(--color-primary);
    text-shadow: 1px 1px 10px var(--shadow-primary);
    font-family: "BAHNSCHRIFT";
    font-weight: normal;
    font-size: 20px;
}
.video-heading h3 a{
    color: var(--link-primary);
    text-shadow: 1px 1px 10px var(--shadow-primary);
    text-decoration: none;
  }
  .video-heading h3 a:hover{
    color: var(--link-secondary);
    text-shadow: 1px 1px 10px var(--shadow-primary);
    text-decoration: underline;
  }
  .channel-heading {
    font-family: "MARKPRO-BOLD";
    color: var(--color-primary);
    text-shadow: 1px 1px 10px var(--shadow-primary), -1px -1px 10px var(--shadow-primary);
    text-align: center;
    font-size: 25px;
    padding: 5px;
    width: 100%;
}
  .channels {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 10px 10px;
    justify-content: center;
    align-items:flex-end;
    
  }
  .vid-channel {
    height: fit-content;
    text-align: center;
    padding: 10px;
  }
  .vid-channel h3 {
    height: fit-content;
  }
  
  .vid-channel p{
    height: fit-content;
    text-align: center;
    color: var(--color-primary);
    text-shadow: 1px 1px 10px var(--shadow-primary);
    font-size: 20px;
    padding: 0;
  }
  .chan-sub {
    color: var(--color-primary);
    text-shadow: 1px 1px 10px var(--shadow-primary);
    font-family: "ROBOTO";
    font-weight: bold;
    font-size: 25px;
  }
  .vid-channel img {
    width: 400px;
    border-radius: 50%;
    box-shadow: none;
  }
  .vid-channel img:hover {
    box-shadow: #ff0000 0 0 15px;
  }
  @media only screen and (min-width:888px){
  }
  @media only screen and (max-width:887px){
  }