ErrorDocument 404 /404.html

<Files "emotes.json">
    Header set Access-Control-Allow-Origin "*"
</Files>

Redirect 301 "/YandereSimulator.html" "/yanderesimulator.html"


# Force HTTPS and WWW
RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://cameronf305.com [R=301,L]

[cameronf@cp41-ga public_html]$ head -8 .htaccess
RewriteEngine on


RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
[cameronf@cp41-ga public_html]$